<!DOCTYPE HTML>
<html>
{include file='layout/head' /}
<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 基因数据库 <span
			class="c-gray en">&gt;</span> 用户上传基因数据列表 <a class="btn btn-success radius r replace"
			style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i
				class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<form method="GET" action="">
            <div class="text-c"> 
                
                会员名称或账号：
                <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称或账号" value="{$search['user'] ? $search['user'] : ''}" name="search[user]">
                添加时间：
                <input type="text" {literal}
                    onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" {/literal}
                    value="{$search['datemin'] ? $search['datemin'] : ''}" id="datemin" name="search[datemin]" class="input-text Wdate" style="width:180px;">
                -
                <input type="text" {literal} onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}' })"
                    {/literal} value="{$search['datemax'] ? $search['datemax']: ''}" id="datemax" name="search[datemax]" class="input-text Wdate"
                    style="width:180px;">
                <button type="submit" class="btn btn-success" id="" name="">
                    <i class="Hui-iconfont">&#xe665;</i>
                    搜索</button>
            </div>
		</form>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<!-- <span class="l">
                 <a href="javascript:;" onclick="gene_info('添加基因数据')" class="btn btn-primary radius">
                    <i class="Hui-iconfont">&#xe600;</i> 
                    添加基因数据
                </a>
            </span>  -->
            <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
		<table class="table table-border table-bordered table-bg">
			<thead>
				<tr>
					<th scope="col" colspan="9">用户上传基因数据列表</th>
				</tr>
				<tr class="text-c">
                    <th width="30">ID</th>
                    <th width="200">名称</th>
                    <th width="200">所属会员</th>
                    <th width="100">性别</th>
					<th width="100">生日</th>
					<th width="100">时间</th>
					<th width="100">操作</th>
                </tr>
			</thead>
			<tbody>
				{if condition="isset($list) && $list"}
                {volist name="list" id="vo"}
                <tr class="text-c">
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$user_name[$vo.user_id]}</td>
                    <td>{$sex_name[$vo.sex]}</td>
                    <td>{$vo.year}年{$vo.month}月{$vo.day}日</td>
					<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
                    <td class="td-manage" data-id="{$vo.id}">
						<a title="下载数据包" href="/public/gene/import/{$vo.filepath}" download="{$vo.name}" class="ml-5"
                            style="text-decoration:none">
                            <i class="Hui-iconfont">&#xe640;</i>
                        </a>
                        <a title="删除" href="javascript:;" onclick="del_import('{$vo.id}')" class="ml-5"
                            style="text-decoration:none">
                            <i class="Hui-iconfont">&#xe6e2;</i>
                        </a>
                    </td>
                </tr>
				{/volist}
				{/if}
			</tbody>
		</table>
		<div class="pages">{$list->render()}</div>
		{if condition="!isset($list) or !$list"}
		<p class="no-data">暂无数据</p>
		{/if}
	</div>
	<!--_footer 作为公共模版分离出去-->
	{include file='layout/footer' /}

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="/__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
    <script type="text/javascript">
        function open_closeAll(){
			layer.closeAll();
			window.location.replace(location.href);
		}

        function del_import(id){
            layer.confirm('您正在执行删除操作！', {icon: 3, title:'敏感操作提醒'}, function(index){
				//do something
				$.post('/admin/gene/del_import',{id:id},function(res){
					if(res.status == 1){
						layer.msg('操作成功！', {icon:6});
						setTimeout(function(){
							window.location.replace(location.href);
						},1500);
					}else{
						layer.msg('操作失败，请重试！', {icon:5});
					}
				});
				layer.close(index);
			});
        }

	</script>
</body>

</html>