<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/__STATIC__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/__STATIC__/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
	

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/__STATIC__/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">
$(function(){

});
/*个人信息*/
function myselfinfo(){
	layer.open({
		type: 1,
		area: ['300px','200px'],
		fix: false, //不固定
		maxmin: true,
		shade:0.4,
		title: '查看信息',
		content: '<div>管理员信息</div>'
	});
}

function layer_error_msg(msg=''){

	layer.msg(msg,{icon:5});
}

function layer_success_msg(msg,re){

	layer.msg(msg,{icon:6});
	if(re){
		setTimeout(function(){
			parent.layer_open_closeAll();
		},2000);
	}
}

function layer_open_closeAll(){
	layer.closeAll();
	window.location.replace(location.href);
}

function open_msg(msg='???'){
	layer.open({
		title:false,
		content:msg,
		btn:false,
	});
}
</script> 