<div class="menu_dropdown bk_2">
    {if condition="isset($global_menu_list)"}
        {volist name="global_menu_list" id="vo"}
        <dl id="{$vo.id}">
            <dt><i class="Hui-iconfont">&#{$vo.icon};</i> {$vo.name}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            {if condition="isset($vo.last) && $vo.last"}
            <dd>
                <ul>
                {volist name="vo.last" id="last"}
                <li><a data-href="{$last.url}" data-title="{$last.name}" href="javascript:void(0)">{$last.name}</a></li>
                {/volist}
                </ul>
            </dd>
            {/if}
        </dl>
        {/volist}
    {/if}
</div>