{include file="layout/footer"/}
<script type="text/javascript" src="/__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#tab-system").Huitab({
		index:"{$index}"
    });
});

    function article_save_submit(){
        
    }

	function success(msg){
		layer.msg(msg,{icon:6});
		setTimeout(function(){
			window.location.replace(location.href);
		},2000);
		
	}
	function error(msg){
		layer.msg(msg,{icon:5});
		return false;
	}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>