<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="pageTopTitle" page-id="0">导入数据{$web_setting.web_name}{$web_setting.web_title}</title>
    <meta name="keywords" content="{$web_setting.key_words}" />
    <meta name="description" content="{$web_setting.copyright}" />
    <link rel="shortcut icon" href="{$web_setting.title_logo}" type="image/*" />
    <link rel="stylesheet" href="__STATIC__/css/public/swiper.css">
    <link rel="stylesheet" href="__STATIC__/css/public/public.css">
    <link rel="stylesheet" href="__STATIC__/css/home/import_data.css">
    
</head>
<body>
    <div class="wrapper">
        <!-- 头部 -->
        <div class="header">
            {include file="header"}
        </div>
         
        <!-- 内容 -->
        <div class="content inner-wrap">
            <div class="gene-data">
                <h2>导入基因数据</h2>
                <form action="" target="ajaxR" method="POST" enctype="multipart/form-data">
                    <!-- <div class="form-group">
                        <div class="groupl">
                            姓名：
                        </div>
                        <div class="groupr">
                            <input type="text" name="name" class="fullName">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="groupl">
                            性别：
                        </div>
                        <div class="groupr">
                            <div class="sexItem">
                                <input type="radio" name="sex" id="man" value="1" checked>
                                <label for="man">男</label>
                            </div>
                            <div class="sexItem">
                                <input type="radio" name="sex" id="woman" value="2" >
                                <label for="woman">女</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="groupl">
                            生日：
                        </div>
                        <div class="groupr">
                            <div id="date">
                                <select name="year" id="year">
                                    <option value="">选择年份</option>
                                </select>
                                <select name="month" id="month">
                                    <option value="">选择月份</option>
                                </select>
                                <select id="days" name="day" class="day" style="margin-right:0;">
                                    <option value="">选择日期</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group" style="margin-top:20px;">
                        <div class="groupl">
                            文件：
                        </div>
                        <div class="groupr upload">
                            <a href="javascript:void(0)" class="check_zip">点击选择文件</a>
                              <input type="file" name="myfile" id="myfile" value="" onchange="checkField()" class="selectFile"/>
                            	<img src="__STATIC__/images/home/shibai.png" class="cuo_pic" />
                            	<img src="__STATIC__/images/home/dui_pic.png" class="dui_pic" />
                             <p class="tips">请直接上传您从测序厂商获取的原始.ZIP .RAR .XLS .XLSX格式</p>
                            
                        </div>
                    </div>
                    <a style="float: left;" href="/index/index/online_import_data">在线填写数据</a>
                    <a href="__STATIC__/上传数据标准模板.xlsx" download="上传数据标准模板.xlsx" class="downloadss">下载:上传数据标准模板.xlsx</a>
                    <div class="btn">
                        <button type="submit">确认</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- 底部 -->
        <div class="footer">{include file="footer"}</div>
        
    </div>  
    <iframe name="ajaxR" style="display:none;width:100%;height:500px;"></iframe>
    <script src="__STATIC__/js/public/jquery-1.8.3.min.js"></script>
    <!-- <script src="__STATIC__/js/public/footer.js"></script> -->
    <script src="__STATIC__/js/public/selectDate.js"></script>
	<script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
    <script>
    	$(function(){
			$("#date").selectDate()
			
			$("#days").focusout(function(){
				var year = $("#year option:selected").html()
				var month = $("#month option:selected").html()
				var day = $("#days option:selected").html()
			})
			
            $('#file').on('change',function(){
                var file = $("#file").val();
                var fileName = getFileName(file);
                $('#filename').html(fileName);
            });
        })
        
        function success(){
            layer.msg('基因数据导入成功！正在刷新页面...',{icon:6});
            setTimeout(function(){
                window.location.replace(location.href);
            },2000);
        }
  
        function getFileName(o){
            var pos=o.lastIndexOf("\\");
            var fileName = o.substring(pos+1);
            var p = /(?:\.zip|\.rar|\.xls|\.xlsx)$/;
            if(!p.test(fileName)){
                $("#file").val('');
                layer.msg('请选择.ZIP .RAR .XLS .XLSX类型的文件',{icon:5});
                return '点击选择文件';
            }
            return fileName;
        }

        function checkField(){
           if(myfile.files[0] == undefined){
                  $(".check_zip").html("导入失败")
                  $(".check_zip").css("background-color","red")
                  $(".dui_pic").hide()
                  $(".cuo_pic").show()
            }else{
                $(".check_zip").html("导入完成")
                $(".check_zip").css("background-color","#00FF00")
                $(".cuo_pic").hide()
                $(".dui_pic").show()
                var filevalue = myfile.value;
           }
          
        }
        </script>
</body>
</html>