<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>填写个人基本信息</title>
	    <link rel="stylesheet" href="__STATIC__/css/public/public.css">
	    <link rel="stylesheet" type="text/css" href="__STATIC__/css/home/information.css"/>
	</head>
	<body>
		<div class="wrapper">
	        <!-- 头部 -->
	        <div class="header">
					{include file="header"}
			</div>
	         
	        <!-- 内容 -->
	        <div class="content">
	        	<div class="inner-wrap">
	        		<!--标题-->
					<h2>请填写个人基本信息</h2>
				<form >		
	        		<div class="inp_wrap">
	        			<div class="fill_wrap">
	        				
	        				<div class="in">
	        					<div class="xi_wrap">
		        					<span class="xi">*</span>
		        					<span class="name">姓名:</span>
	        					</div>
	        					<div class="text">
	        						<input type="text" name="name" class="name"/>
	        					</div>
	        				</div>
	        				
	        				<div class="in">
	        					<span class="name tr">民族:</span>
	        					<div class="text">
	        						<input type="text" name="nation" class="nation"/>
	        					</div>
	        				</div>
	        				
	        				<div class="in">
	        					<span class="name tr">现居地:</span>
	        					<div class="text">
	        						<input type="text" name="on_addr" class="on_addr"/>
	        					</div>
	        				</div>
	        				
	        				<div class="in">
	        					<span class="name tr">派字:</span>
	        					<div class="text">
	        						<input type="text" name="pai" class="pai"/>
	        					</div>
	        				</div>
	        				
	        			</div>
	        			<div class="fill_wrap ill">
	        				
	        				<div class="in">
	        					<div class="xi_wrap">
		        					<span class="xi">*</span>
		        					<span class="name">联系电话:</span>
	        					</div>
	        					<div class="text">
	        						<input type="text" name="mobile" class="mobile"/>
	        					</div>
	        				</div>
	        				
	        				<div class="in">
	        					<span class="name tr">性别:</span>
	        					<div class="text">
	        						<input type="text" name="sex" class="sex"/>
	        					</div>
	        				</div>
	        				
	        				<div class="in">
	        					<span class="name tr">祖籍地:</span>
	        					<div class="text">
	        						<input type="text" name="addr_log" class="addr_log"/>
	        					</div>
	        				</div>
	        				
	        				<div class="in">
	        					<span class="name tr">是否拥有家谱:</span>
	        					<div class="text">
	        						<input type="text" name="is_family_tree" class="is_family_tree"/>
	        					</div>
	        				</div>
	        				
	        			</div>
	        		</div>
	        		<!--迁移记录-->
	        		<div class="are_wrap">
	        			<span>迁移记录:</span>
	        			<div class="are">
    						<input type="text" name="migration" class="migration"/>
    					</div>
	        		</div>
	        		<!--其他说明:-->
	        		<div class="are_wrap">
	        			<span>其他说明:</span>
	        			<div class="are">
    						<input type="text" name="desc" class="desc"/>
    					</div>
					</div>
		</form>			
					<div class="personal_message_ear">
						<input type="checkbox" checked name="is_open" value="1" class="is_open"/><span class="personal_message">是否公开个人信息</span>
						<br/>
						基于寻根溯源的需要，族内鼓励选择公开，除非有特殊情况。选择不公开，则别人匹配出结果后将不能查看您的基本信息
					</div>
	        		<!--按钮-->
	        		<div class="btn_wrap">
							<!-- href="/index/gene/index" -->
						<a class="save_btn">保存</a>	
	        		</div>
	        	</div>
			</div>
			<!-- 底部 -->
			<div class="footer">
					{include file="footer"}
			</div>
	        
	    </div>  
		<script src="__STATIC__/js/public/jquery-1.8.3.min.js"></script>  
	    <!-- <script src="../../js/public/header.js"></script>  
		<script src="../../js/public/footer.js"></script> -->
		<script src="__STATIC__/js/public/selectDate.js"></script>
		<script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
		<script>
			
			$('.save_btn').click(function(){

				// $.ajax({
				// 	type:"POST",
				// 	url:"{:url('index/import_data1')}",
				// 	data:{
				// 		name:$(".name").val(),
				// 		nation:$(".nation").val(),
				// 		on_addr:$(".on_addr").val(),
				// 		pai:$(".pai").val(),
				// 		mobile:$(".mobile").val(),
				// 		sex:$(".sex").val(),
				// 		addr_log :$(".addr_log").val(),
				// 		is_family_tree:$(".is_family_tree").val(),
				// 		migration:$(".migration").val(),
				// 		desc:$(".desc").val(),
				// 		is_open:$(".is_open").val()
				// 		},
				// 	dataType:"json",
				// 	success:function(res){	
				// 		if(res.code==1){
				// 			console.log(res)
				// 			alert(res.msg)
				// 			window.location.replace(res.data);
				// 		}

				// 	}
				// })

				var is_open;
				if( $("input[name=is_open]").is(':checked') ){
					is_open = 1;
				}else{
					is_open = 0;
				}

				$.post("{:url('index/import_data1')}",{
					'name':$("input[name=name]").val(),
					'nation':$("input[name=nation]").val(),
					'on_addr':$("input[name=on_addr]").val(),
					'pai':$("input[name=pai]").val(),
					'mobile':$("input[name=mobile]").val(),
					'sex':$("input[name=sex]").val(),
					'addr_log' :$("input[name=addr_log]").val(),
					'is_family_tree':$("input[name=is_family_tree]").val(),
					'migration':$("input[name=migration]").val(),
					'desc':$("input[name=desc]").val(),
					'is_open':is_open
				},function(data){
					if(data.status==0){
						layer.msg(data.msg,{icon:5});
					}else if(data.status==1){
						window.location.replace(data.data);
					}
				},'json');
				


			})

			function error(msg){
				layer.msg(msg,{icon:5});
				sub = 1;
			}

			function success(msg){
				layer.msg(msg,{icon:6});
				setTimeout(function(){
					window.location.replace(location.href);
				},1500);
				sub = 1;
        	}
		

			function error_msg(msg){
				layer.msg(msg,{icon:5});
				sub = 1;
			}
		</script>
	</body>
</html>
