<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="pageTopTitle" page-id="0">导入数据{$web_setting.web_name}{$web_setting.web_title}</title>
    <meta name="keywords" content="{$web_setting.key_words}" />
    <meta name="description" content="{$web_setting.copyright}" />
    <link rel="shortcut icon" href="{$web_setting.title_logo}" type="image/*" />
    <link rel="stylesheet" href="__STATIC__/css/public/swiper.css">
    <link rel="stylesheet" href="__STATIC__/css/public/public.css">
    <link rel="stylesheet" href="__STATIC__/css/home/biaoge_bianji.css">
    
</head>
<body>
    <div class="wrapper">
        <!-- 头部 -->
        <div class="header">{include file="header"}</div>
       
           <!-- 内容 -->
          <div class="content inner-wrap">
         
            
                 <div class="l3h5">
					<div class="l3h5d">
                        <form method="POST" target="ajaxR" id="form">
						<ul class="xiala ">
							
							<li style="width: 100%;font-size: 20px;">结果报告</li>
							
						</ul>
						<ul class="xiala ">
							<li style="width: 100%;font-size: 20px;">
								<input type="text" placeholder="请输入您的姓名" name="info[name]" style="color: #AEAEAE;"/>
							</li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入联系电话" name="info[mobile]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入民族" name="info[nation]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入性别" name="info[sex]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入现居地" name="info[on_addr]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入祖籍地" name="info[addr_log]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入派字" name="info[pai]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="是否拥有家谱" name="info[is_family_tree]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入迁移记录" name="info[migration]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
                        <ul class="xiala ">
                            <li style="width: 100%;font-size: 20px;">
                                <input type="text" placeholder="请输入其他说明" name="info[desc]" style="color: #AEAEAE;"/>
                            </li>
                        </ul>
						
						<ul class="xiala ">
							
							<li style="width: 100%;font-size: 20px;">36Y-STR基因座分型结果</li>
							
						</ul>
						<ul class="xiala">
							
							<li>基因座/样本号</li>
							<li>频度</li>
						</ul>
						<ul class="xiala">
							<li><input type="text" name="key[]" value="DYF387Sa"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYF387Sb"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS19"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS385a"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS385b"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS389a"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS389b"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS390"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS391"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS392"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS393"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS437"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS438"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS439"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS448"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS449"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS456"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS458"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS460"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS481a"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS481b"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS518"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS527"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS533"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS570"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS576"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS627"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS635"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <!-- <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS635a"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS635b"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul> -->
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="GATA_H4"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <!-- <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS643"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS722"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS404S1a"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS404S1b"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS527a"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul>
                        <ul class="xiala">
							<li><input type="text" name="key[]" value="DYS527b"/></li>
							<li><input type="text" name="value[]" /></li>
                        </ul> -->
                    </form>
					</div>	
				
					
		        </div>
                <p class="add">添加一行</p>
                
                <a onclick="submit();" style="display:inline-block;width:250px;height:50px; line-height: 50px;text-align:center;margin:20px 0 0 40%;background-color:#37afe6;color:#fff;border-radius: 8px;">提交保存</a>
          </div> 
          
        <!-- 底部 -->
        <div class="footer">
            {include file="footer"}
        </div>
        <iframe name="ajaxR" style="display:none;"></iframe>
    </div>  

    <script src="__STATIC__/js/public/jquery-1.8.3.min.js"></script> 
    <!-- <script src="__STATIC__/js/public/header.js"></script>  
    <script src="__STATIC__/js/public/footer.js"></script> -->
    <script src="__STATIC__/js/public/selectDate.js"></script>
	<script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
    <script>
    	$(".add").click(function(){
    		$(".l3h5d").append('<ul class="xiala"><li><input type="text" name="key[]" /></li><li><input type="text" name="value[]" /></li></ul>')
    	})
    	
    	var sub = 1;

        function submit(){
            if(sub == 0){
                return false;
            }
            

            $('#form').submit();
            
        }
    	
    	function error(msg){
            layer.msg(msg,{icon:5});
            sub = 1;
        }
    	
        function success(msg){
            layer.msg(msg,{icon:6});
            setTimeout(function(){
                window.location.replace("{:url('gene/index')}");
            },1500);
            sub = 1;
        }
    	
        </script>
</body>
</html>