{include file="layout/setting_head"/}
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add">
		<input type="hidden" name="inc_type" value="{$url}">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				{foreach name="list" item="vo"}
					<span><a href="{$vo.url}">{$vo.name}</a></span>
				{/foreach}
			</div>
			<div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-title" name="web_title" placeholder="控制在25个字、50个字节以内" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">备案号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-icp" name="icp" placeholder="京ICP备00000000号" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站Logo：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-logo" name="logo" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						底部版权信息：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-copyright" name="copyright" placeholder="&copy; 2016 H-ui.net" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-title" name="title" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站标题图标：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-title-logo" name="title_logo" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						关键词：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-Keywords" name="key_words" placeholder="5个左右,8汉字以内,用英文,隔开" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站描述：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-description" name="web_desc" placeholder="空制在80个汉字，160个字符以内" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						联系人：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-linkman" name="linkman" placeholder="控制在25个字、50个字节以内" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						联系电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-phone" name="phone" placeholder="控制在25个字、50个字节以内" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						联系手机：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-mobile" name="mobile" placeholder="控制在25个字、50个字节以内" value="" class="input-text">
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
{include file="layout/setting_footer"/}
