{include file="layout/setting_head"/}
<style>
	.logo-image a{
		display:block;
		width: 100px;
		height: 100px;
		float:left;
		margin-right: 5px;
	}
	.logo-image a img{
		display:block;
		width:100%;
		height:100%;
	}
	.del-up-image{
		position:relative;
		left:86%;
		top:-100%;
	}
</style>
<div class="page-container">
	<form method="POST" class="form form-horizontal" id="form-article-add" target="ajaxR-form">
		<input type="hidden" name="type" value="{$type}">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				{foreach name="list" item="vo"}
					<a href="/admin/system/{$vo.url}"><span>{$vo.name}</span></a>
				{/foreach}
			</div>
			<div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-web_name" name="web_name" placeholder="控制在25个字、50个字节以内" value="{$config.web_name ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">备案号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-icp" name="icp" value="{$config.icp ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站Logo：</label>
					<div class="formControls col-xs-8 col-sm-9 logo-image" id="logo-image-1">
						{empty name="$config.web_logo"}
							<a onclick="upload_image(1);" id="add-goods-image-1">
								<img src="/public/default_upload_images_add.jpg" alt="上传图片" />
							</a>
						{else/}
							<a id="add-goods-image-1">
								<img src="{$config.web_logo}?t=123" onclick="upload_image(1);" alt="上传图片"/>
								<input type="hidden" id="website-web_logo" name="web_logo" value="{$config.web_logo}" class="input-text">
                    			<i class="Hui-iconfont del-up-image" onclick="del_up_image(this,1,'{$config.web_logo}')">&#xe6e2;</i>
							</a>
						{/empty}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						底部版权信息：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-copyright" name="copyright" placeholder="&copy;" value="{$config.copyright ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-web_title" name="web_title" value="{$config.web_title ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站标题图标：</label>
					<div class="formControls col-xs-8 col-sm-9 logo-image" id="logo-image-2">
						{empty name="$config.title_logo"}
							<a onclick="upload_image(2);" id="add-goods-image-2">
								<img src="/public/default_upload_images_add.jpg" alt="上传图片" />
							</a>
						{else/}
							<a id="add-goods-image-2">
								<img src="{$config.title_logo}?t=123" onclick="upload_image(2);" alt="上传图片"/>
								<input type="hidden" id="website-title_logo" name="title_logo" value="{$config.title_logo}" class="input-text">
                    			<i class="Hui-iconfont del-up-image" onclick="del_up_image(this,2,'{$config.title_logo}')">&#xe6e2;</i>
							</a>
						{/empty}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						关注二维码：</label>
					<div class="formControls col-xs-8 col-sm-9 logo-image" id="logo-image-3">
						{empty name="$config.weixin_qrcode"}
							<a onclick="upload_image(3);" id="add-goods-image-3">
								<img src="/public/default_upload_images_add.jpg" alt="上传图片" />
							</a>
						{else/}
							<a id="add-goods-image-3">
								<img src="{$config.weixin_qrcode}?t=123" onclick="upload_image(3);" alt="上传图片"/>
								<input type="hidden" id="website-weixin_qrcode" name="weixin_qrcode" value="{$config.weixin_qrcode}" class="input-text">
								<i class="Hui-iconfont del-up-image" onclick="del_up_image(this,3,'{$config.weixin_qrcode}')">&#xe6e2;</i>
							</a>
						{/empty}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						关键词：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-Keywords" name="key_words" placeholder="5个左右,8汉字以内,用英文,隔开" value="{$config.key_words ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站描述：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-web_desc" name="web_desc" placeholder="空制在80个汉字，160个字符以内" value="{$config.web_desc ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						联系人：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-linkman" name="linkman" value="{$config.linkman ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						联系电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-phone" name="phone" value="{$config.phone ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<!-- <span class="c-red">*</span> -->
						联系手机：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-mobile" name="mobile" value="{$config.mobile ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						所在地址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<select onclick="get_city()" id="province" name="province">
							<option value="0">{empty name="$config.province"} 选择省份 {else/} {$config.province}{/empty}</option>
							{foreach name="$province" item="vo"}
								<option value="{$vo.id}">{$vo.name}</option>
							{/foreach}
						</select>
						<select onblur="get_area()" id="city" name="city">
							<option value="0">{empty name="$config.city"} 选择城市 {else/} {$config.city}{/empty}</option>
						</select>
						<select id="area" name="area">
							<option value="0">{empty name="$config.area"} 选择区域 {else/} {$config.area}{/empty}</option>
						</select>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						详细地址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-address" name="address" value="{$config.address ?? ''}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						客服电话：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-service-tel" name="service_tel" value="{$config.service_tel ?? ''}" class="input-text">
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
<form id="hide-form" style="display:none;" target="ajaxR" enctype="multipart/form-data" method="POST" action="/admin/system/upload_images">
	<input id="hide-form-file" type="file" name="image" value="" >
	<input id="logo-flag" type="hidden">
	<input type="text" name="module" value="setting" >
</form>
<iframe name="ajaxR-form" style="display:none; width:1200px;height: 800px;"></iframe>
<iframe name="ajaxR" style="display:none;"></iframe>
<script type="text/javascript">
	window.onload = function() { 
		$('#hide-form-file').change(function(){
			$('#hide-form').submit();
		});
	}

	// 表单提交回调
	function form_callback(status,msg=''){
		if(status == 1){
			msg = msg ? msg : '保存成功，正在刷新...';
			layer.msg(msg,{icon:6});
			setTimeout(function(){
				window.location.replace(location.href);
			},1500);
		}else{
			msg = msg ? msg : '设置保存失败，请重试！';
			layer.msg(msg,{icon:5});
		}
	}

	//删除图片
    function del_up_image(obj,num,img){
        layer.confirm('确认要删除图片么？', {icon: 3, title:'提示'}, function(index){
			var str1 = '#logo-image-'
			var str2 = '#add-goods-image-'
			var str_logo = str1 + num + ' > a';
			var str3 = str1 + num + ' ' + str2 + num;
			var size = $(str_logo).size();
			var type = "{$type}";
			var name = '';
			if(num == 1){
				name = 'web_logo';
			}
			if(num == 2){
				name = 'title_logo';
			}
			if(num == 3){
				name = 'weixin_qrcode';
			}
            if(size > 0){
                if($(str3).length == 0) {
					$.ajax({
						type: "post",
						url: "del_img",
						data: {'img':img,'type':type,'name':name},
						success: function(data){
							if (data.code == 1) {
								layer.msg('删除成功！', {icon: 1, time: 1000},function(){
									window.location.href = "/admin/system/setting";
									
								});
							} else {
								layer.msg('删除失败！', {icon: 2, time: 1000});
							}
						},
						error: function(){
							layer.alert("系统繁忙，请稍等！");
						}
					});
                } else {
					layer.msg('删除失败！', {icon: 2, time: 1000});
				}
            } else {
				layer.msg('删除失败！', {icon: 2, time: 1000});
			}
            layer.close(index);
        });
    }
	
	//上传图片
	function upload_image(num){
		var str = '#logo-image-' + num + ' > a';
		var size = $(str).size();
        if(size > 1){
            layer.msg('最多只能有一张图片');
            return false;
        }
		
		$('#logo-flag').val(num);
        $('#hide-form-file').click();
	}

	function iframe_images_callback(status,src='',image=''){
		let timestamp = (new Date()).valueOf();
        if(status == 1){
			var flag = $('#logo-flag').val();
			var name = 'web_logo';
			if (flag == 2) {
				name = 'title_logo';
			}
			if(flag == 3){
				name = 'weixin_qrcode';
			}

            var _html = ''+
                '<a id="add-goods-image-'+flag+'">'+
                    '<img class="ex-image"  onclick="upload_image('+flag+');" src="'+src+'?t='+timestamp+'" />'+
                    '<input type="hidden" id="website-' + name + '" name="' + name + '" value="'+image+'" class="input-text">'+
                    '<i class="Hui-iconfont del-up-image" onclick="del_up_image(this,' + flag + ',' + image + ')">&#xe6e2;</i>'+
                '</a>';
			var str1 = '#add-goods-image-' + flag;
			var str2 = '#logo-image-' + flag;

			$(str1).remove();
			$(str2).append(_html);
         
        }else{
            layer.msg('图片上传失败！');
        }
    }

	var is_province = 0;
	var is_city = 0;
	
	//获取城市
	function get_city(){
		var province_id = $("#province option:selected").val();

		if (province_id && (province_id > 0) && (is_province != province_id)) {
			$.ajax({
				type: "post",
				url: "setting",
				async: false,
				data: {'id':province_id},
				success: function(data){
					if (data.code == 1) {
						$('#city option:not(:first)').remove(); //删除除第一个子节点以外的节点
						$('#area option:not(:first)').remove();
						var html = "";
						//遍历数组
						data.data.forEach(function(value,i){
							html += "<option value='" + value['id'] + "'>" + value['name'] + "</option>";
						})
						$('#city').append(html);
						is_province = province_id;
					}
				},
				error: function(){
					layer.alert("系统繁忙，请稍等！");
				}
			});
		}
	}

	//获取片区
	function get_area(){
		var city_id = $("#city option:selected").val();

		if (city_id && (city_id > 0) && (is_city != city_id)) {
			$.ajax({
				type: "post",
				url: "setting",
				async: false,
				data: {'id':city_id},
				success: function(data){
					if (data.code == 1) {
						$('#area option:not(:first)').remove();
						var html = "";
						//遍历数组
						data.data.forEach(function(value,i){
							html += "<option value='" + value['id'] + "'>" + value['name'] + "</option>";
						})

						$('#area').append(html);
						is_city = city_id;
					}
				},
				error: function(){
					layer.alert("系统繁忙，请稍等！");
				}
			});
		}
	}
</script>
{include file="layout/setting_footer"/}
