{include file="layout/setting_head"}
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" method="POST" target="ajaxR">
		<input type="hidden" name="type" value="{$type}">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				{foreach name="list" item="vo"}
					<a href="/admin/system/{$vo.url}"><span>{$vo.name}</span></a>
				{/foreach}
			</div>
			<div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">SMTP服务器：</label>
					<div class="formControls col-xs-8 col-sm-9"> 
						<span class="select-box" style="width:150px;">
							<select class="select" id="host" name="host" size="1">
								<option value="smtp.qq.com" {if condition="isset($info.host) && $info.host eq 'smtp.qq.com'"}selected{/if}>QQ邮箱</option>
								<option value="smtp.163.com" {if condition="isset($info.host) && $info.host eq 'smtp.163.com'"}selected{/if} >网易邮箱</option>
							</select>
						</span> 
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">SMTP协议：</label>
					<div class="formControls col-xs-8 col-sm-9"> 
						<span class="select-box" style="width:150px;">
							<select class="select" id="secure" name="secure" size="1">
								<option value="ssl" {if condition="isset($info.secure) && $info.secure eq 'ssl'"}selected{/if} >SSL</option>
								<option value="tls" {if condition="isset($info.secure) && $info.secure eq 'tls'"}selected{/if} >TLS</option>
							</select>
						</span> 
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">SMTP 端口：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.port)"}{$info.port}{/if}" id="" name="port" placeholder="常用端口号：ssl：25、465；tls: 587">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">邮箱帐号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.username)"}{$info.username}{/if}" id="username" name="username" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">邮箱密码或授权码：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="password" name="password" value="{if condition="isset($info.password)"}{$info.password}{/if}" class="input-text" placeholder="部分邮箱服务器需要使用授权码">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">发送人昵称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="nickname" name="nickname" value="{if condition="isset($info.nickname)"}{$info.nickname}{/if}" class="input-text" placeholder="">
					</div>
				</div>

				<div class="row cl" style="padding-top:20px;">
					<label class="form-label col-xs-4 col-sm-2"></label>
					<div class="formControls col-xs-8 col-sm-9">
						{literal}
						<p style="color:red;">注意：下面邮件模板使用 {{$code}} 代替验证码，必须填写无误，否则用户收不到验证码！</p>
						{/literal}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">注册-邮件标题：</label> 
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$info.register_title ? $info.register_title : ''}" id="register_title" name="register_title" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">注册-邮件模板 HTML：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="register_body" id="register_body" class="textarea"  placeholder="可填写HTML内容的模板" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.register_body ? $info.register_body : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">注册-邮件模板 文本：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="register_altbody" id="register_altbody" cols="" rows="" class="textarea"  placeholder="填写文本内容，当HTML模板发送失败时调用" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.register_altbody ? $info.register_altbody : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">重置密码-邮件标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$info.edit_pass_title ? $info.edit_pass_title : ''}" id="edit_pass_title" name="edit_pass_title" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">重置密码-邮件模板 HTML：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="edit_pass_body" id="edit_pass_body" cols="" rows="" class="textarea"  placeholder="可填写HTML内容的模板" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.edit_pass_body ? $info.edit_pass_body : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">重置密码-邮件模板 文本：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="edit_pass_altbody" id="edit_pass_altbody" cols="" rows="" class="textarea"  placeholder="填写文本内容，当HTML模板发送失败时调用" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.edit_pass_altbody ? $info.edit_pass_altbody : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">绑定邮箱-邮件标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$info.bind_email_title ? $info.bind_email_title : ''}" id="bind_email_title" name="bind_email_title" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">绑定邮箱-邮件模板 HTML：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="bind_email_body" id="bind_email_body" cols="" rows="" class="textarea"  placeholder="可填写HTML内容的模板" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.bind_email_body ? $info.bind_email_body : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">绑定邮箱-邮件模板 文本：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="bind_email_altbody" id="bind_email_altbody" cols="" rows="" class="textarea"  placeholder="填写文本内容，当HTML模板发送失败时调用" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.bind_email_altbody ? $info.bind_email_altbody : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">重置支付密码-邮件标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$info.edit_paypass_title ? $info.edit_paypass_title : ''}" id="edit_paypass_title" name="edit_paypass_title" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">重置支付密码-邮件模板 HTML：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="edit_paypass_body" id="edit_paypass_body" cols="" rows="" class="textarea"  placeholder="可填写HTML内容的模板" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.edit_paypass_body ? $info.edit_paypass_body : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">重置支付密码-邮件模板 文本：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea name="edit_paypass_altbody" id="edit_paypass_altbody" cols="" rows="" class="textarea"  placeholder="填写文本内容，当HTML模板发送失败时调用" dragonfly="true" onKeyUp="$.Huitextarealength(this,250)">{$info.edit_paypass_altbody ? $info.edit_paypass_altbody : ''}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/250</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
	<iframe name="ajaxR" style="display:none;"></iframe>
</div>
{include file="layout/setting_footer"/}
