{include file="layout/setting_head"}
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" method="POST" target="ajaxR">
		<input type="hidden" name="type" value="{$type}">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				{foreach name="list" item="vo"}
					<a href="/admin/system/{$vo.url}"><span>{$vo.name}</span></a>
				{/foreach}
			</div>
			<div>
				<div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">公众号名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" id="weixin_name" name="weixin_name" value="{if condition="isset($info.weixin_name)"}{$info.weixin_name}{/if}" class="input-text" placeholder="">
                    </div>
                </div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">APPID：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.weixin_appid)"}{$info.weixin_appid}{/if}" id="" name="weixin_appid" placeholder="">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">APPSECRET：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.weixin_appsecret)"}{$info.weixin_appsecret}{/if}" id="weixin_appsecret" name="weixin_appsecret" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">加密TOKEN：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.weixin_token)"}{$info.weixin_token}{/if}" id="weixin_token" name="weixin_token" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">服务器交互地址：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" readonly value="你的服务器域名/index.php?m=index&c=weixin&a=index" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">商户号ID：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.mch_id)"}{$info.mch_id}{/if}" id="mch_id" name="mch_id" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">商户号APPID：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.mch_appid)"}{$info.mch_appid}{/if}" id="mch_appid" name="mch_appid" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">商户号APPSECRET：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.mch_appsecret)"}{$info.mch_appsecret}{/if}" id="mch_appsecret" name="mch_appsecret" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">商户号KEY：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.mch_key)"}{$info.mch_key}{/if}" id="mch_key" name="mch_key" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">开放平台APPID：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.open_appid)"}{$info.open_appid}{/if}" id="open_appid" name="open_appid" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">开放平台APPSECRET：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{if condition="isset($info.open_appsecret)"}{$info.open_appsecret}{/if}" id="open_appsecret" name="open_appsecret" >
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
	<iframe name="ajaxR" style="display:none;"></iframe>
</div>
{include file="layout/setting_footer"/}
