<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title class="pageTopTitle">登录{$web_setting.web_name}{$web_setting.web_title}</title>
		<meta name="keywords" content="{$web_setting.key_words}" />
		<meta name="description" content="{$web_setting.copyright}" />
		<link rel="shortcut icon" href="{$web_setting.title_logo}" type="image/*" />
		<link rel="stylesheet" href="__STATIC__/css/public/public.css" />
		<link rel="stylesheet" href="__STATIC__/css/login/login.css" />
		<script type="text/javascript" src="__STATIC__/js/public/jquery-1.8.3.min.js" ></script>
	</head>
	<style>
		#weixin_qrcode{
			padding-left:15%;
		}
		iframe{height:200px;}
		.tips_ear{
			text-align: right;
			padding-top: 10px;
			color:gray;
		}
	</style>
<body>
<div class="login_bigger">
	<!--头部-->
	<div class="header">
		{include file="header"}
	</div>
	
    <div class="inner-wrap inner-wrap22" >	
    	
		<div class="login_ear">
			
			<div class="login_title">
			
			      <span>登录</span>
			   
			</div>
			
			
			<!--tab切换-->
			<div id="wrap">
		           <div id="tit">
		            <span class="select">账号登陆</span><span>微信登陆</span>
		           </div>
			       <ul id="con">
			            <li class="show">
			            	
			            	<input placeholder="邮箱" id="email" class="login_username"/>
			            	<br />
			            	<input placeholder="密码" type="password" id="password"  class="login_passworld"/>
			            	<br />
			            	<div class="login_remember">
			            		<!-- <input type="checkbox" class="login_checkbox"/><span class="remenber_me" >记住我</span> -->
			            		<a class="login_findpassworld" style="color: rgb(55,175,230);"  href="/index/login/register">注册新用户</a><span class="login-resign" style="color: rgb(55,175,230);">找回密码</span>
			            	</div>
			            	<div class="login_denglu" onclick="submit();">登录</div>
						</li>
			            <li style="display: none;" >
							<span id="weixin_qrcode" class="erweima_ear"></span>
			            	<!--二维码图片-->
			            	<!-- <div >

			            	</div>
							<p style="text-align: center;padding-top: 10px;">请扫码登陆</p> -->
							<!-- <div class="tips_ear"><span class="tip">注册即同意《23魔方服务协议》</span></div> -->
							<div class="tips_ear"><a class="tip">微信登陆即同意《<a target="_blank" href="{:url('article/details','',false)}?id=31">服务协议</a>》《<a target="_blank" href="{:url('article/details','',false)}?id=31">隐私政策</a>》</a></div>
						</li>
			       </ul>
          </div>
		</div>
	</div>
</div>
<style>

</style>
	<script src="__STATIC__/js/public/footer.js"></script>
	<script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
	<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
	<script src="__PUBLIC__/public/jquery.base64.js"></script>
	 <script>
		 $(function(){
			var obj = new WxLogin({
				self_redirect:true,
				id:"weixin_qrcode", 
				appid: "{$appid}", 
				scope: "snsapi_login", 
				redirect_uri: "{$redirect_uri}",
				state: "{$state}",
				style: "",
				href: "data:text/css;base64,LmltcG93ZXJCb3ggLnFyY29kZSB7d2lkdGg6IDIwMHB4O30KLmltcG93ZXJCb3ggLnRpdGxlIHtkaXNwbGF5OiBub25lO30KLmltcG93ZXJCb3ggLmluZm8ge3dpZHRoOiAyMDBweDt9Ci5zdGF0dXNfaWNvbiB7ZGlzcGxheTogbm9uZX0KLmltcG93ZXJCb3ggLnN0YXR1cyB7dGV4dC1hbGlnbjogY2VudGVyO30="
			});



		 });

		function wx_ifr_success(url){
			layer.msg('登录成功！',{icon:6});
			setTimeout(function(){
				window.location.href=url;
			},1500);
		} 

		function wx_ifr_error(msg){
			layer.open({
				content:msg,
				btn:['我知道了'],
				btnAlign:'c',
				end:function(){
					window.location.replace(location.href);
				}
			});
		}


        $('#tit span').click(function() {
            var i = $(this).index();//下标第一种写法
            //var i = $('tit').index(this);//下标第二种写法
            $(this).addClass('select').siblings().removeClass('select');
            $('#con li').eq(i).show().siblings().hide();
        });
    

		var re_email = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
		var re_pass = /^([A-Za-z\d.]){6,20}$/;

		function submit(){
			var email = $('#email').val();
			var password = $('#password').val();
			// var captcha = $('#captcha').val();

			if(!re_email.test(email)){
				layer.msg('邮箱错误！',{icon:5});
				return false;
			}
			if(!re_pass.test(password)){
				layer.msg('密码错误！',{icon:5});
				return false;
			}
			email = $.base64.encode(email);
			password = $.base64.encode(password);

			$.post('/index/login/login',{email:email,password:password},function(res){

				if(res.status == 1){
					layer.msg(res.msg,{icon:6});
					setTimeout(function(){
						window.location.href = res.url;
					},1500);
				}else{
					layer.msg(res.msg,{icon:5});
					Refresh_Captcha();
				}
			});
		}

		function Refresh_Captcha(){
			var timestamp = (new Date()).getTime();
			var url = '/captcha.html?t='+timestamp;
			$('#img-captcha').attr('src',url);
		}       
        





		
    </script>	
		
	</body>
</html>
