<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <title class="pageTopTitle" page-id="1">我的基因数据{$web_setting.web_name ? ' '.$web_setting.web_name : ''}{$web_setting.web_title ? ' '.$web_setting.web_title : ''}</title>
        <meta name="keywords" content="{$web_setting.key_words}" />
        <meta name="description" content="{$web_setting.copyright}" />
        <link rel="shortcut icon" href="{$web_setting.title_logo}" type="image/*" />
	    <link rel="stylesheet" href="__STATIC__/css/public/public.css">
	    <link rel="stylesheet" href="__STATIC__/css/home/chaxun_shuju.css">
	</head>
	<body>
		
    <div >
        <!-- 头部 -->
        <div class="header">
            {include file="header"}
        </div>
            <!--内容区-->
        <div class="zuixiaogaodu">
            <div class="liebiao_ear inner-wrap">
                <p class="liebiao_ear_title">我的基因数据</p>
                <ul>
                    {volist name="$list" id="vo"}
                    <li onclick="window.location.href='/index/gene/analysis?id={$vo.id}'">
                        <span class="span_left">{$vo.name}</span>
                        <span class="span_right"><img src="__STATIC__/images/home/youjian@2x.png"/></span>
                    </li>
                    {/volist}
                </ul>
                <div style="width: 150px;border: 1px solid green;text-align: center;margin: 0 auto;margin-top: 40px;height: 50px;line-height: 50px; border-radius: 10px;border: 1px solid black;cursor: pointer;" onclick="javascript:location.href='/index/index/import_data'">导入数据</div>
            </div>
                
        </div> 		
        <!-- 底部 -->
        <div class="footer"></div>
    </div>    
    <script src="__STATIC__/js/public/jquery-1.8.3.min.js"></script> 
    <script src="__STATIC__/js/public/header.js"></script>  
    <script src="__STATIC__/js/public/footer.js"></script>	
	</body>
</html>
