<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>确认订单</title>
    <link rel="stylesheet" href="__STATIC__/css/public/public.css" />
    <link rel="stylesheet" href="__STATIC__/css/public/public_head.css" />
    <link rel="stylesheet" href="__STATIC__/css/purchase/order.css"> 
    <link rel="stylesheet" href="__STATIC__/css/public/swiper.css">
    <script src="__STATIC__/js/public/rem.js"></script>
</head>
<body>
        <div class="wrap_frame">
                <!-- header -->
            <div class="lb_headWrap ">
                {if condition="$info.type neq 6"}
                <p class="lb_headWrap_return" data-num="1" onclick="javascript:location.href='{$return}'">
                {else /}
                <p class="lb_headWrap_return" data-num="1" onclick="javascript:location.href='{:url('goods/jifen_goodinfo','',false)}/id/{$info.id}'">
                {/if}
                    <img class="lb_headWrap_return_img" src="__STATIC__/img/public/back@2x.png"/>
                </p>
                   <span>确认订单</span>
               </div>
               <!-- main -->
            <div class="personal-main">
                <!-- personal -->
             <div class="personal-list " onclick="pageJump('/mobile/user/my_address?re_url=`/mobile/goods/check_order?goods_id={$goods_id}`')">
                <input type="hidden" id="def_address_id" value="{$def_address_id}"/>
                 <div class="item-msg">
                     {if condition="$def_address"}
                        <p class="compellation">
                            <span class="name">{$def_address.consignee}</span>
                            <span class="phone">{$def_address.mobile}</span>
                        </p>
                        <p class="location">
                            {$def_address.address}
                       </p>
                     {else /}
                        <p style="height: 35px; line-height: 35px;">请设置收货地址</p>
                     {/if}
                    
                 </div>
                 <div class="item-img">
                     <img src="__STATIC__/img/purchase/back-a@2x.png" alt="">
                 </div>
             </div>
                <!-- product  -->
             <div class="product">
                 <div class="product-list">
                       <div class="item-img">
                           <img src="/public/images/goods/{$info.thumb}" alt="商品图片">
                       </div>
                       <div class="item-name">
                           <span class="name">{$info.name}</span>
                       </div>
                       <div class="item-price">
                            {if condition="$info.type neq 6"}
                            <p class="price price2">￥<span class="danjia">{$info.price}</span></p>
                            {else /}
                            <p class="price price2">积分<span class="danjia">{$info.price}</span></p>
                           {/if}
                           <p class="num">x1</p>
                       </div>
                 </div>
                 <div class="product-num">
                      <span> 购买数量</span>
                      <div class="quantity">
                        <a href="javascript:void(0);" class="subtract">-</a>
                        <input type="number" id="number" class="num num2" value="1" max="100" min="1" disabled/>
                        <a href="javascript:void(0);" class="add">+</a>
                      </div>
                 </div>
             </div>
                <!-- dispatching -->
             <div class="dispatching">
                 <p class="d-title">配送方式</p>
                 <div class="mode">
                     <div class="ksps">快速配送</div>
                 </div>
                 {if condition="$info.type neq 6"}
                 <div class="mode modq">
                     <input type="hidden" id="balance" value="0">
                    <div class="ksps">使用余额</div>
                    <div class="select difference">
                        <!-- 未选中 -->
                        <img src="__STATIC__/img/purchase/Button-box@2x.png" alt="" class="yuer" >
                        <!-- 已选中 -->
                        <!-- <img src="__STATIC__/img/purchase/button@2x.png" alt=""> -->
                    </div>
                    <div class="balance" style="display: none">
                        <input type="hidden" id="my_money" value="{$user.money}">
                        <input type="text" disabled value="可用余额:￥{$user.money}" class="balance_text">
                    </div>
                 </div>
                 <div class="mode zfmm" style="display: none">
                        <div class=" pwd">支付密码:</div>
                        <div class="balance">
                        {if condition="$user.payment_password"}
                            <input type="password" id="paypass" value="" class="pwdnum" placeholder="请输入支付密码" autocomplete/>
                        {else /}
                            <a style="color:red;" href="/mobile/index/edit_paypass">请先设置支付密码</a>
                        {/if}
                        </div>  
                 </div>
                 {/if}

                 <input type="text" id="quoto" value="{$my_coupon[0]['quota'] ? $my_coupon[0]['quota'] : 0}" hidden>
                 <input type="text" id="money" value="{$my_coupon[0]['money'] ? $my_coupon[0]['money'] : 0}" hidden>
             </div>
                <!-- discount coupon -->
             <div class="coupon">
                    <!-- <div class="mode mode-yhq" >
                            <div class=" yhq">优惠券</div>
                            <div class="discount">
                                <div class="yhqq numm">
                                        <span >
                                            <span class="discount_num">{count($my_coupon)}</span>张可用
                                        </span>
                                </div>
                            </div>
                            <div class="select usable">
                                    <img src="__STATIC__/img/purchase/back-a@2x.png" alt="" class="goRight">
                            </div>
                    </div> -->
                    <div class="mode mode-bz">
                            <div class=" bz">备注</div>
                            <textarea name="" id="note" id="" cols="103" rows="10" placeholder="暂无备注!" class="remark" ></textarea>
                    </div>
             </div>
                <!-- favourable price -->
             {if condition="$info.type neq 6"}
             <div class="favourable">
                 <div class="favourable_item">
                     <div class="item_name">邮费:</div>
                     <div>
                         ￥ <span class="postage postage2">{$freight}</span>
                     </div>
                 </div>
                 <!-- <div class="favourable_item">
                     <div class="item_name">优惠券折扣:</div>
                        <div>
                            -￥ <span class="coupon_discount coupon_discount2">0.00</span>
                     </div>
                 </div> -->
                 <div class="favourable_item">
                     <div class="item_name">余额抵扣:</div>
                        <div>
                            -￥ <span class="remaining_discount">0.00</span>
                     </div>
                 </div>
                 <div class="favourable_item">
                     <div class="item_name">订单总和:</div>
                        <div>
                            ￥ <span id="total">{$info.price}</span>
                     </div>
                 </div>
             </div>
             {/if}
             <!-- receive a coupon -->
			<div class="receive_coupon"></div>
			<div class="receive_box">
                    <P class="receive_tit">我的优惠券</P>
                    <div class="coupon_box">
                        {volist name="my_coupon" id="vo"}
                        <div class="coupon_list">
                            <input type="hidden" value="{$vo.id}">
                                <div class="coupon_msg">
                                    <div class="price_box">
                                        ￥
                                        <span class="price">{$vo.money}</span>
                                        <span class="original">{$vo.name}</span>
                                    </div>
                                    <p class="pro_ori">有效期</p>
                                    <p class="time publicEllipsis" >{$vo.stime|date="Y-m-d",###} - {$vo.etime|date="Y-m-d",###}</p>
                            </div>
                            <div class="coupon_use coupon_use2">
                                <p class="use" data-id="{$vo.id}">立即使用</p>
                                <!-- <img src="__STATIC__/img/purchase/logo@2x.png" alt="" class="been"> -->
                            </div>
                        </div>
                        {/volist}
                        
                </div>
                <div class="popup">
                    使用成功
                </div>
                <div class="achieve">
                    完成
                </div>
        </div>
        </div>
                <!-- footer -->
            <div class="footer">
                {if condition="$info.type neq 6"}
                <div class="price_box">
                    应付金额: <span class="price_red">￥<span class="zongqian">{$freight ? $freight+$info.price : $info.price}</span></span>
                </div>
                {else /}
                <div class="price_box">
                        应付积分: <span class="price_red"><span class="zongqian">{$freight ? $freight+$info.price : $info.price}</span></span>
                    </div>
                {/if}
                 <div class="sumb" onclick="submit();">
                     提交订单
                 </div>
            </div>
    </div>
    <script src="__STATIC__/js/public/jquery-1.8.3.js"></script>
    <script src="__STATIC__/js/public/public.js"></script>
    <script src="__STATIC__/js/purchase/order.js"></script>
    <script type="text/javascript" src="/public/static/public/layer/layer.js"></script>
    <script>
        var coupon_id 
        $('.use ').click(function(){
            if($(this).parent().hasClass('coupon_use ')){
                coupon_id =   $(this).parent().prev().prev().attr("value");
            }else if($(this).parent().hasClass('add')){
                coupon_id = 0;
            }
        })
        function submit(){
            var goods_id = '{$goods_id}';
            var balance = $('#balance').val();
            var paypass = $('#paypass').val();
            var number = $('#number').val();
            var note = $('#note').val();
            
            if(balance == 1 && paypass == ''){
                layer.msg('请输入支付密码');
                return false;
            }

            $.post('/mobile/goods/order_info',{goods_id:goods_id,balance:balance,paypass:paypass,number:number,note:note,coupon_id:coupon_id},function(res){

                if(res.status == 1){
                    layer.msg(res.msg,{icon:6});
                    setTimeout(function(){
                        window.location.href=res.url;
                    },1500);
                }else{
                    layer.msg(res.msg,{icon:5});
                    return false;
                }
            });
        }

        // $('.subtract').on('click',function(){
        //     var num = $('#number').val();
        //     var danjia = $('.danjia').html();

        //     console.log( num )
        //     console.log( num * danjia )
        // })

        // $('.add').on('click',function(){
        //     var num = $('#number').val();
        //     var danjia = $('.danjia').html();

        //     console.log( num )
        //     console.log( num * danjia )
        // })

    </script>
</body>
</html>