<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
		<title>订单详情</title>
		<script type="text/javascript" src="__STATIC__/js/public/rem.js" ></script>
		<link rel="stylesheet" href="__STATIC__/css/public/public.css" />
		<link rel="stylesheet" href="__STATIC__/css/public/public_head.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/my/order_details.css"/>
	</head>
	<body>
		<div class="wrap_frame">
			<!--public head-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="javascript:location.href='/mobile/user/my_order'">
					<img class="lb_headWrap_return_img" src="__STATIC__/img/public/back@2x.png"/>
				</p>
				<span>订单详情</span>
				<!--<p class="lb_headWrap_text">领取产品</p>-->
			</div>
			<div class="content">
				<!--订单号，状态-->
				<div class="status-wrap">
					<div>订单编号：{$info.order_sn}</div>
					<div>{$sname[$info.order_status]}</div>
				</div>
				<!--商品-->
				<div class="detail-wrap">
					<!---->
					<div class="tu_wrap">
						<div class="left_img">
							<img src="/public/images/goods/{$info.thumb}" />
						</div>
						<div class="right_tu">
							<p>{$info.name}</p>
							<p>x{$info.number}</p>
						</div>
					</div>
					<!--总价-->
					{if condition="$info.type neq 6"}
					<div class="prices">
						<span>商品总价</span>
						<span>￥{$info.goods_price}</span>
					</div>
					<!--运费-->
					<div class="prices">
						<span>运费（快递）</span>
						<span>￥{$info.shipping_price}</span>
					</div>
					{if condition="$info.coupon_price gt 0"}
					<div class="prices">
						<span>优惠券抵扣</span>
						<span>- ￥{$info.coupon_price}</span>
					</div>
					{/if}
					{if condition="$info.user_money gt 0"}
					<div class="prices">
						<span>余额抵扣</span>
						<span>- ￥{$info.user_money}</span>
					</div>
					{/if}
					
					<!--订单总价-->
					<div class="order">
						<span>订单总价</span>
						<span>￥{$info.total_amount}</span>
					</div>
					<!--实付款-->
					<div class="pay">
						<span>实付款</span>
						<span>￥{$info.order_amount}</span>
					</div>
					{else /}
					<!--订单总积分-->
					<div class="order">
						<span>订单总积分</span>
						<span>{$info.total_amount}</span>
					</div>
					<!--实付积分-->
					<div class="pay">
						<span>实付积分</span>
						<span>{$info.order_amount}</span>
					</div>
					{/if}
				</div>
				<!--购买详细-->
				<div class="buy-wrap">
					<h2>购买详情</h2>
					
					<div class="deta">
						<span>收货人：</span>
						<span>{$info.consignee}</span>
					</div>
					
					<div class="deta">
						<span>手机号：</span>
						<span>{$info.mobile}</span>
					</div>
					
					<div class="deta publicEllipsis">
						<span>收货地址：</span>
						<span>{$info.address}</span>
					</div>
					
					<div class="deta publicEllipsis">
						<span>订单编号：</span>
						<span>{$info.order_sn}</span>
					</div>
					
					{if condition="$info.transaction_id"}
					<div class="deta publicEllipsis">
						<span>交易号：</span>
						<span>{$info.transaction_id}</span>
					</div>
					{/if}
					
					<div class="time">
						<span>创建时间：</span>
						<span>{$info.add_time|date="Y-m-d",###}</span>
						<span>{$info.add_time|date="H:i:s",###}</span>
					</div>
					{if condition="$info.pay_status eq 1"}
					<div class="time">
						<span>付款时间：</span>
						<span>{$info.pay_time|date="Y-m-d",###}</span>
						<span>{$info.pay_time|date="H:i:s",###}</span>
					</div>
					{/if}
					{if condition="$info.order_status gt 2"}
					<div class="time">
						<span>发货时间：</span>
						<span>{$info.shipping_time|date="Y-m-d",###}</span>
						<span>{$info.shipping_time|date="H:i:s",###}</span>
					</div>
					{/if}
				</div>
			</div>
			<!--底部购买-->
			{if condition="$info.pay_status neq 1"}
			<div class="bottom_buy">
				<div>应付金额：{$info.order_amount}</div>
				<div onclick="javascript:location.href='/mobile/weixin/pay?t=order_pay&id={$info.id}'">立即支付</div>
			</div>
			{/if}
		</div>
		
		<script src="__STATIC__/js/public/jquery-1.8.3.js"></script>
		<script src="__STATIC__/js/public/public.js"></script>
		
	</body>
</html>
