<div class="inner-wrap">
    <div class="left fl">
        <div class="bottomNav">
            <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">关于族内</a></li>
                    <li><a href="#">关注</a></li>
                    <li><a href="#">DNA寻祖</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">寻根故事</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">联系邮箱</a></li>
                    <li><a target="_blank" href="{:url('article/details','',false)}?id=31">服务协议</a></li>
                    <li><a href="#">顾问委员会</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">联系电话</a></li>
                    <li><a href="#">购买</a></li>
                    <li><a target="_blank" href="{:url('article/details','',false)}?id=32">隐私保护</a></li>
                    <li><a href="#">个人中心</a></li>
                  
            </ul>
        </div>
        <div class="copyright">
            <span>@2019族内myroots.All Rights Reserved &nbsp;&nbsp;粤ICP备15012185号<img src="__STATIC__/images/home/jing.png"/></span>
           
            <!-- <p class="hao">{$web_setting.icp}</p> -->
            
        </div>
    </div>
    <div class="code fl">
        <img width="100px" height="100px " src="{$web_setting.weixin_qrcode}"  class="zhifeng_qrcode"/>
        <p>扫码关注我们</p>
    </div>
</div>