<div class="inner-wrap">
    <div class="left fl">
        <div class="bottomNav">
            <ul>
                <li><a href="#">基因检测</a></li>
                <li><a href="#">什么是基因</a></li>
                <li><a href="#">研究所</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>{$web_setting.icp}</p>
        </div>
    </div>
    <div class="code fl">
        <img width="100px" height="100px " src="{$web_setting.weixin_qrcode}" />
        <p>扫码关注我们</p>
    </div>
</div>