<div class="inner-wrap">
    <div class="logo">
        <a href="/index/index/index"><img  src="{$web_setting.web_logo}" class="header_nav_logo_images"></a>
    </div>
    <div class="nav">
        <ul>
                <li><a href="/index/index/index">DNA寻祖</a></li>
                <li><a href="/index/gene/index">我的基因</a></li>
                <!-- <li><a href="/index/index/my_information">我的基因</a></li>  -->
                <li><a href="/index/buy/buy">购买</a></li>
                <li><a href="/index/referral/referral">寻根故事</a></li>
                <!-- <li><a href="/index/buy/my_order">我的订单</a></li> -->
                <li><a href="{:url('article/details','',false)}?id=34">帮助中心</a></li>
                <li><a href="/index/about/index">关于我们</a></li>
        </ul>
    </div>
    <div class="login">
        <div class="login-in">
            {if condition="$user"}
                <span class="fl" onclick="javascript:location.href='/index/user/index'">
                    <img src="{$user.avatar}" style="margin-top:0px;" class="touxiang">
                </span>
                <a class="outBtn fl" href="/index/login/logout">退出</a>
            {else /}
                <a href="/index/login/login">登录</a>
                <a href="/index/login/register">注册</a>
            {/if}
        </div>
    </div>
</div>