<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title class="pageTopTitle" page-id="2">购买详情{$web_setting.web_name}{$web_setting.web_title}</title>
		<meta name="keywords" content="{$web_setting.key_words}" />
		<meta name="description" content="{$web_setting.copyright}" />
		<link rel="shortcut icon" href="{$web_setting.title_logo}" type="image/*" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/public/public.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/buy/details.css"/>
	</head>
	<body>
		<div class="wrapper">
			<!-- 头部 -->
            <div class="header">
				{include file="header"}
			</div>
            
			<div class="content inner-wrap">
				<div class="item">
					<!--左边大图-->
					<div class="map">
						<img src="/public/images/goods/{$list.thumb}" />
					</div>
					<!--右边内容-->
					<div class="right_content">
						<h2>{$list['name']}</h2>
						<p class="marks">{$list['desc']}</p>
						<!--报告-->
						{if condition="$list['attr']"}
						<div class="report">
						{foreach name="$list['attr']" item="vo" key="key"}
							<div class="test der">
								<p class="option">{$vo}</p>
								<p class="state">{$key}</p>
							</div>
						{/foreach}
						</div>
						{else/}
						<div class="report">
						
							<div class="test der">
								<p class="option"></p>
								<p class="state"></p>
							</div>
						
						</div>
						{/if}
						<div class="price">￥{$list['price']}</div>
						<!--购买按钮-->
						<a class="buy_btn" href="/index/buy/submit_order?id={$list.id}">立即购买</a>
					</div>
				</div>
				
				<!--详情-->
				<div class="deta">
					<div class="line"></div>
					<div class="ntext">详情</div>
					<div class="line"></div>
				</div>
				<!--图片区-->
				<div class="tu_zone">
                      {$list['details']}
				</div>
				
			</div>
			<!-- 底部 -->
		    <div class="footer">
				{include file="footer"}
			</div>
		    
		</div>
		
		<script type="text/javascript" src="__STATIC__/js/public/jquery-1.8.3.min.js" ></script>
		<!-- <script type="text/javascript" src="__STATIC__/js/public/footer.js" ></script> -->
	</body>
</html>
