<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title class="pageTopTitle" page-id="2">购买{$web_setting.web_name}{$web_setting.web_title}</title>
		<meta name="keywords" content="{$web_setting.key_words}" />
		<meta name="description" content="{$web_setting.copyright}" />
		<link rel="shortcut icon" href="{$web_setting.title_logo}" type="image/*" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/public/public.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/buy/submit_order.css"/>
	</head>
	<body>
		<div class="wrapper">
			<!--头部-->
			<div class="header">
				{include file="header"}
			</div>
			<!--内容-->
			<div class="content inner-wrap">
				<!--图片，增加数量区-->
				<div class="print-wrap">
					<!--左边-->
					<div class="left_tu">
						<div class="img">
							<img src="/public/images/goods/{$info.thumb}"/>
						</div>
						
						<h2>{$info.name}</h2>
						<div class="color-blue" id="price">￥{$info.price}</div>
						
						<div class="and">
							<span class="minus us" id="jian" onclick="del_num();">-</span>
							<input class="inp" id="buy_num" name="number" onchange="change_num();" type="number" value="1"/>
							<span class="plus us" id="jia" onclick="add_num();">+</span>
						</div>
					</div>
					<!--右边-->
					<div class="right_zi">
						<!--地址-->
						<div class="shipping">
                            <!-- 存储地区id -->
                            <input type="hidden" id="se-hid-area" value="" />
                            <input type="hidden" id="se-hid-area-id" value="" />
							<ul>
								<li>
									<div class="form"><spec style="color:red;">*</spec>收货人：</div>
									<div>
										<input class="form-control" type="text" name="consignee" id="consignee" value="{$default_address['consignee'] ? $default_address['consignee'] : ''}" />
									</div>
								</li>
								<li>
									<div class="form">邮箱：</div>
									<div>
										<input class="form-control" type="text" name="email" id="email" value="{$default_address['email'] ? $default_address['email'] : ''}" />
									</div>
								</li>
								<li>
									<div class="form"><spec style="color:red;">*</spec>手机号码：</div>
									<div>
										<input class="form-control" type="text" name="mobile" id="mobile" value="{$default_address['mobile'] ? $default_address['mobile'] : ''}" />
									</div>
								</li>
								<li>
									<div class="form">所在地区：</div>
									<div>

										<select class="v-item" id="province" >
										<option value="0">请选择</option>
                                        {volist name="province" id="vo"}
                                        <option value="{$vo.id}" {$default_address.province == $vo.id ? 'selected' : ''}>{$vo.name}</option>
                                        {/volist}
										</select>
										 
										<select class="v-item" id="city" >
                                            <option value="{$default_address.city ? $default_address.city : '0'}">{$default_address.city ? $default_address.city_name : '请选择'}</option>
										</select>
										 
										<select class="v-item" id="district">
                                            <option value="{$default_address.district ? $default_address.district : '0'}">{$default_address.district ? $default_address.district_name : '请选择'}</option>
										</select>
                                    </div>
                                    
								</li>
								<li>
									<div class="form"><spec style="color:red;">*</spec>详细地址：</div>
									<div>
										<input class="form-control" type="text" id="address" name="address" value="{$default_address.address ? $default_address.address : ''}" />
									</div>
								</li>
							</ul>
						</div>
						<!--支付方式-->
						<div class="payment">
							<div class="mode">支付方式：</div>
							<!--微信支付-->
							<div class="pay">
								<img src="__STATIC__/images/buy/pay-wechat.png" />
							</div>
						</div>
						<!--总计，运费-->
						<div class="total-wrap">
							<div class="clearfix">
								<div class="pull-left">总计：￥<span id="goods_total">{$info.price}</span></div>
								<div class="pull-right">应付: <b>￥<span id="order_total">{$info.price}</span></b><a class="btn-submit" onclick="submit();">提交订单</a></div> 
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--底部-->
			<div class="footer">
				{include file="footer"}
			</div>
		</div>
		
		<script type="text/javascript" src="__STATIC__/js/public/jquery-1.8.3.min.js" ></script>
        <script type="text/javascript" src="/public/static/public/layer/layer.js"></script>
		<!-- <script type="text/javascript" src="__STATIC__/js/public/footer.js" ></script> -->
		<script>
			var price = '{$info.price}';
			var goods_id = '{$info.id}';

			// 购买数量 - 减少
			function del_num(){
				var num = $('#buy_num').val();
				if(num == 1){
					return false;
				}
				$('#buy_num').val(parseInt(num)-1);
				change_num();
			}

			// 购买数量 - 增加
			function add_num(){
				var num = $('#buy_num').val();
				$('#buy_num').val(parseInt(num)+1);
				change_num();
			}
			// 计算价格
			function change_num(){
				var num = $('#buy_num').val();
				var goods_price = parseInt(num)*price;
				$('#goods_total').html(goods_price);
				$('#order_total').html(goods_price);
			}

			// 提交订单
			function submit(){
				var number = $('#buy_num').val();
				var consignee = $('#consignee').val();
				var email = $('#email').val();
				var mobile = $('#mobile').val();
				var province = $('#province').val();
				var city = $('#city').val();
				var district = $('#district').val();
				var address = $('#address').val();

				if(number < 1){
					number = 1;
				}
				if(!consignee){
					layer.msg('请填写收货人信息',{icon:5});
					return false;
				}
				if(!mobile){
					layer.msg('请填写收货人联系电话',{icon:5});
					return false;
				}
				if(!mobile){
					layer.msg('请填写收货人联系电话',{icon:5});
					return false;
				}
				if(!province || !city){
					layer.msg('请选择配送地址所在地区',{icon:5});
					return false;
				}
				if(!address){
					layer.msg('请填写收货人详细地址',{icon:5});
					return false;
				}

				var data = {
					'goods_id' : goods_id,
					'number' : number,
					'consignee' : consignee,
					'email' : email,
					'mobile' : mobile,
					'province' : province,
					'city' : city,
					'district' : district,
					'address' : address,
				};
				
				$.post('/index/buy/check_order',{data:data},function(res){
					if(res.status == 1){
						layer.msg(res.msg,{icon:6});
						setTimeout(function(){
							window.location.href=res.url;
						},1500);
					}else{
						layer.msg(res.msg,{icon:5});
					}

				});
			}
			


			$('#province').on('change',function(){
				var area_id = $('#province').val();
				var area = $('#province option:selected').html();

				re_ad_option('city');
				re_ad_option('district');            

				se_ad_option('city',area_id);

				if(area_id > 0){
					hidden_input_area(area,area_id);
				}else{
					hidden_input_area('',area_id);
				}
			});
			$('#city').on('change',function(){
				var area_id = $('#city').val();
				var area = $('#city option:selected').html();
				re_ad_option('district');

				se_ad_option('district',area_id);

				if(area_id > 0){
					hidden_input_area(area,area_id);
				}else{
					var p_area_id = $('#province').val();
					var p_area = $('#province option:selected').html();
					hidden_input_area(p_area,p_area_id);
				}
			});

			$('#district').on('change',function(){
				var area_id = $('#district').val();
				var area = $('#district option:selected').html();

				if(area_id > 0){
					hidden_input_area(area,area_id);
				}else{
					var p_area_id = $('#city').val();
					var p_area = $('#city option:selected').html();
					hidden_input_area(p_area,p_area_id);
				}
			});

			function hidden_input_area(area,areaid){
				$('#se-hid-area').val(area);
				$('#se-hid-area-id').val(areaid);
			}

			function re_ad_option(area){
				$('#'+area+' option').remove();
				var _html = '<option value="0">请选择</option>';
				$('#'+area).append(_html);
			}

			function se_ad_option(area,id){
				$.post('/admin/system/ajax_area',{parent_id:id},function(res){
					$('#'+area).append(res);
				});
			}

		</script>

	</body>
</html>
