<!DOCTYPE HTML>
<html>
{include file='layout/head' /}

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页<span class="c-gray en">&gt;</span> 资金管理 <span
            class="c-gray en">&gt;</span> 充值记录 <a class="btn btn-success radius r"
            style="line-height:1.6em;margin-top:3px" href="javascript:reflsh();" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <form method="GET" action="">
            <div class="text-c"> 日期范围：
                <input type="text" {literal}
                    onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" {/literal}
                    {if condition="isset($seach.datemin) && !empty($seach.datemin)" }
                     value="{$seach.datemin|date='Y-m-d H:i:s',###}"
					{else/}
					value=""                     
                     {/if}
                    id="datemin" name="seach[datemin]" class="input-text Wdate" style="width:180px;">
                -
                <input type="text" {literal} onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}' })"
                    {/literal} {if condition="isset($seach.datemax) && !empty($seach.datemax)" }
                    value="{$seach.datemax|date='Y-m-d H:i:s',###}" 
					{else/}
					value=""                    
                    {/if} id="datemax" name="seach[datemax]" class="input-text Wdate"
                    style="width:180px;">
                <input type="text" class="input-text" style="width:250px"
                    value="{if condition='isset($seach.m_conditions)'}{$seach.m_conditions}{/if}" placeholder="输入会员名称"
                    id="m_conditions" name="seach[m_conditions]">
                <button type="submit" class="btn btn-success radius" id="m_search" name=""><i
                        class="Hui-iconfont">&#xe665;</i>
                    搜用户</button>
            </div>

        </form>

        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：<strong>{$total}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="80">ID</th>
                        <th width="150">会员名</th>
                        <th width="130">充值金额</th>
                        <th width="150">说明</th>
                        <th width="110">附加数据</th>
                        <th width="120">充值时间</th>
                        <th width="60">发起交易时间</th>
                        <th width="70">交易平台</th>
                        <th width="70">状态</th>
                    </tr>
                </thead>
                <tbody>
                    {if condition="isset($list)"}
                    {foreach name="list" item="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.nickname}</td>
                        <td>{$vo.money}</td>
                        <td>{$vo.body}</td>
                        <td>{$vo.attach}</td>
                        <td>{:date('Y-m-d,H:i:s',$vo.addtime)}</td>
                        <td>{:date('Y-m-d,H:i:s',$vo.init_time)}</td>
                        <td>{$vo.platform}</td>
                        <td class="td-status">
                            {if condition="$vo.status == 0"}
                            <span>系统处理中</span>
                            {elseif condition = "$vo.status == 1"/}
                            <span>充值成功</span>
                            {else/}
                            <span>充值失败</span>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                </tbody>
            </table>
            <div class="pages">{$list->render()}</div>
            {if condition="!isset($list) or !$list"}
            <p class="no-data">暂无数据</p>
            {/if}
        </div>
    </div>

    {include file='layout/footer' /}

    <script type="text/javascript" src="/__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        /* 刷新 */
        function reflsh() {
            window.location.href = "{:url('admin/money/recharge')}";
        }

    </script>
</body>

</html>