{include file="layout/head"}
<article class="page-container">
    <form class="form form-horizontal" target="ajaxR" method="POST" action="">    
        <input type="hidden" id="freight_id" name="freight_id" value='{if condition="isset($info)"}{$info.id}{else /}0{/if}' >
        <input type="hidden" id="is_see" name="is_see" value='{$is_see}' >

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>模板名称：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" value="{if condition="isset($info)"}{$info.name}{/if}" placeholder="运费模板名称" name="name" id="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>默认运费：</label>
            <div class="formControls col-xs-8 col-sm-2">
                <input type="int" class="input-text" value="{if condition="isset($other)"}{$other}{/if}" placeholder="默认运费" name="other" id="other">
            </div>
            元
        </div>
        
        <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">特定地区设置：</label>
                <div class="formControls col-xs-8 col-sm-7"> 
                    <table class="table table-border table-bordered table-bg" >
                        <thead>
                            <tr class="text-c">
                                <th width="200">运送到：</th>
                                <th width="50">运费：</th>
                                <th width="50">操作</th>
                            </tr>
                        </thead>
                        <tbody class="other-temp">
                            {if condition="isset($temp)"}
                                {foreach name="temp" item="vo" key="k"}
                                <tr class="text-c">
                                    <th width="150" class="freight_area">
                                        <a class="freight_area_select" onclick="freight_area_select(this)">{if condition="isset($aname[$k])"}{$aname[$k]}{else /}{$k}{/if}</a>
                                        <input type='hidden' class="freight_area_hidden_id" name="areaid[]" value="{$k}">
                                    </th>
                                    <th width="150"><input class="input-text" style="text-align:center;" name="area_money[]" type="text" value="{$vo}" /></th>
                                    <th>
                                        {if condition="$k eq $one_k"}
                                        <a onclick="other_temp_add();"><i class="Hui-iconfont">&#xe600;</i></a> 
                                        {else /}
                                        <a onclick="other_temp_del(this)"><i class="Hui-iconfont">&#xe6a1;</i></a>
                                        {/if}
                                    </th>
                                </tr>
                                {/foreach}
                            {else /}
                                <tr class="text-c">
                                    <th width="150" class="freight_area">
                                        <a class="freight_area_select" onclick="freight_area_select(this)">选择地址</a>
                                        <input type='hidden' class="freight_area_hidden_id" name="areaid[]" value="">
                                    </th>
                                    <th width="150"><input class="input-text" style="text-align:center;" name="area_money[]" type="text" value="" /></th>
                                    <th>
                                        <a onclick="other_temp_add();"><i class="Hui-iconfont">&#xe600;</i></a> 
                                    </th>
                                </tr>
                            {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">描述：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <textarea name="desc" cols="" rows="" class="textarea"  placeholder="说点什么..." >{if condition="isset($info)"}{$info.desc}{/if}</textarea>
            </div>
        </div>
        {if condition="$is_see eq 0"}
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="提交">
            </div>
        </div>
        {/if}
    </form>
    <input type="hidden" id="area" value="">
    <input type="hidden" id="area-id" value="">
</article>
<iframe name="ajaxR" style="display: none;"></iframe>
{include file="layout/footer"}
<script>
    function other_temp_del(obj){
        console.log( $(obj) )
        $(obj).parents('tr').remove();
    }
    function layermsg(msg,close){
        layer.msg(msg);
        if(close > 0){
            setTimeout(function(){
                // parent.layer.closeAll();
                parent.open_closeAll();
            },2000);
        }
    }

    function other_temp_add(){
        var _tpl = '<tr class="text-c">'+
                        '<th width="150" class="freight_area">'+
                            '<a class="freight_area_select" onclick="freight_area_select(this)">选择地址</a>'+
                            '<input type="hidden" class="freight_area_hidden_id" name="areaid[]" value="">'+
                        '</th>'+
                        '<th width="150"><input class="input-text" style="text-align:center;" name="area_money[]" type="text" value="" /></th>'+
                        '<th>'+
                            '<a onclick="other_temp_add()"><i class="Hui-iconfont">&#xe600;</i></a>'+
                            '&nbsp;&nbsp;&nbsp;'+
                            '<a onclick="other_temp_del(this)"><i class="Hui-iconfont">&#xe6a1;</i></a>'+
                        '</th>'+
                    '</tr>';
        $('.other-temp').append(_tpl);
    }

    function freight_area_select(obj){
        layer.open({
            title:'选择地址',
            type:2,
            content:'/admin/system/open_area_select',
            area:['550px','200px'],
            end:function(){
                var area = $('#area').val();
                var areaid = $('#area-id').val();
                if(area && areaid){
                    $(obj).text(area);
                    $(obj).parent().find('.freight_area_hidden_id').val(areaid);
                }

                $('#area').val('');
                $('#area-id').val('');
        
            }
        });
    }

    function area_callback(area,areaid){
        $('#area').val(area);
        $('#area-id').val(areaid);
    }

    
</script>