<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
	<title>账户充值</title>
	<script src="__STATIC__/js/public/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/public/static/public/layer/layer.js"></script>
	<script type="text/javascript">
	var sn = "{$sn}";
	//调用微信JS api 支付
	function jsApiCall()
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			{$jsApiParameters},
			function(res){
				WeixinJSBridge.log(res.err_msg);
				if(res.err_msg == 'get_brand_wcpay_request:ok'){
					// 支付成功
					layer.open({
						title:'提示信息',
						content:'<p style="text-align:center;">充值成功</p><p style="text-align:center;">请点击确定，不要刷新或关闭网页</p>',
						btn:['确定'],
						btnAlign:'c',
						end:function(){
							window.location.href="/mobile/user/top_up?sn="+sn;
						}
					});

				}else if(res.err_msg == 'get_brand_wcpay_request:cancel'){
					// 取消支付
					layer.open({
						title:'提示信息',
						content:'<p style="text-align:center;">你已取消了支付！</p>',
						btn:['返回'],
						btnAlign:'c',
						end:function(){
							window.history.go(-1);
						}
					});
				}else{
					// 支付失败
					layer.open({
						title:'提示信息',
						content:'<p style="text-align:center;">充值失败！</p>',
						btn:['返回上一步'],
						btnAlign:'c',
						end:function(){
							window.history.go(-1);
						}
					});
				}
			}
		);
	}

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}

    window.onload = function(){ 
        setTimeout(function(){
            jsApiCall();
        },2500);
    }
	</script>
	<script type="text/javascript">
	//获取共享地址
	// function editAddress()
	// {
	// 	WeixinJSBridge.invoke(
	// 		'editAddress',
	// 		{$editAddress},
	// 		function(res){
	// 			var value1 = res.proviceFirstStageName;
	// 			var value2 = res.addressCitySecondStageName;
	// 			var value3 = res.addressCountiesThirdStageName;
	// 			var value4 = res.addressDetailInfo;
	// 			var tel = res.telNumber;
	// 		}
	// 	);
	// }
	
	// window.onload = function(){
	// 	if (typeof WeixinJSBridge == "undefined"){
	// 	    if( document.addEventListener ){
	// 	        document.addEventListener('WeixinJSBridgeReady', editAddress, false);
	// 	    }else if (document.attachEvent){
	// 	        document.attachEvent('WeixinJSBridgeReady', editAddress); 
	// 	        document.attachEvent('onWeixinJSBridgeReady', editAddress);
	// 	    }
	// 	}else{
	// 		editAddress();
	// 	}
	// };
	
	</script>
</head>
</html>