<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>绑定邮箱</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<script src="__STATIC__/js/public/rem.js"></script>
		<!--public-->
		<link rel="stylesheet" href="__STATIC__/css/public/public.css" />
		<!--头部-->
		<link rel="stylesheet" href="__STATIC__/css/public/public_head.css" />
		<!--重置密码.css-->
		<link rel="stylesheet" href="__STATIC__/css/login/reset_pass.css" />
	</head>

	<body>
		<!--最大边框-->
		<div class="wrap_frame">
			<!--public head-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="javascript:location.href='/mobile/user/set_up'">
					<img class="lb_headWrap_return_img" src="__STATIC__/img/public/back@2x.png"/>
				</p>
				<span>绑定邮箱</span>
			</div>
			<!--内容 wrpa P-->
			<div class="contentWrapP">
				<!--public 隔开上线 box-->
				<p class="publicSeptum"></p>
				
				<!--公共的class=>项Wrap，class="publicButtomLIne"=>(伪类)'底边框线'-->
				<div class="pblicTermWrapP publicButtomLIne">
					<!--公共的class=>项box-->
					<div class="publicTermBoxP">
						<!--左-->
						<p class="publicTermLeftP">电子邮箱</p>
						<!--右-->
						<div class="publicTermRightP">
							<!--input-->
							<input type="text" class="publicTRPInput" id="email" placeholder="请输入电子邮箱">
						</div>
					</div>
				</div>
				<!--公共的class=>项Wrap，class="publicButtomLIne"=>(伪类)'底边框线'-->
				<div class="pblicTermWrapP">
					<!--公共的class=>项box-->
					<div class="publicTermBoxP">
						<!--左-->
						<p class="publicTermLeftP">邮箱验证码</p>
						<!--右-->
						<div class="publicTermRightP shortWidthBox">
							<!--input-->
							<input type="text" class="publicTRPInput shortInputWidth" id="code" placeholder="请输入验证码">
						
						</div>
						<!--'获取验证码'按钮-->
						<div class="obtainCodeBut" id="obtainCodeButton">获取验证码</div>
						
					</div>
				</div>					
			</div>
			
			<!--修改 按钮 box，样式-->
			<div class="modifyButBox">
				<p class="modifyButton" id="modifyBut" onclick="submit();">确认</p>
			</div>
			
			
		</div>

		<script src="__STATIC__/js/public/jquery-1.8.3.js"></script>
        <script src="__STATIC__/js/public/public.js"></script>
        <script type="text/javascript" src="/public/static/public/layer/layer.js"></script>
		<script>
            var pass_id = '{$pass_id}';
            var re_email = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;

            function submit(){
                var email = $('#email').val();
				var code = $('#code').val();

				if(!re_email.test(email)){
					layer.msg('邮箱格式错误！',{icon:5});
					return false; 
				}
				if(!code){
					layer.msg('邮箱验证码不能为空',{icon:5});
					return false;
				}
                $.post('/mobile/user/edit_email',{pass_id:pass_id,email:email,code:code},function(res){
                    if(res.status == 1){
						layer.msg(res.msg,{icon:6});
						setTimeout(function(){
							window.location.href = res.url;
						},1500);
					}else{
						layer.msg(res.msg,{icon:5});
					}
                });


            }

			/*定时器Id*/
			var timer = null;
			/*倒计时的'时间'*/
			var timerNum = 60;
			/*'获取验证码的状态'点击，默认:true*/
			var clickState= true; 
			/*获取验证码期间60S=>执行的函数*/
			function countDown(){
				timerNum--;
				$('#obtainCodeButton').html('再次获取'+ timerNum +'s');
				if(timerNum == 0){
					/*清除定时器*/
					clearInterval(timer); 
					/*可以=>再次获取验证码*/
					clickState= true; 
					/*改变'获取验证码'按钮color颜色*/
					$('#obtainCodeButton').css({'color':'#1e82d2'});
					$('#obtainCodeButton').html('获取验证码');
					/*初始化，倒计时'时间'*/
					timerNum = 60; 
					return false;
				}
			}
			$(document).ready(function(){
				/*获取验证码=>按钮*/
				$('#obtainCodeButton').on('click',function(){
					
					if (clickState) {
                        var email = $('#email').val();
                        if(!re_email.test(email)){
                            layer.msg('邮箱格式错误！',{icon:5});
                            return false;
                        }
                        $.post('/mobile/index/send_editemail_mail',{pass_id:pass_id,email:email},function(res){
                            if(res.status == 1){
                                $('#obtainCodeButton').css({'color':'#bbb'});
                                $('#obtainCodeButton').html('再次获取'+ timerNum +'s');
                                timer = setInterval(countDown,1000);
                                /*不能=>获取验证码*/
                                clickState = false;
                                return false;
                            }else{

                                layer.msg(res.msg,{icon:5});
                                return false;
                            }
                        });
					}else {
						return false;
					}
				})
			
			})
		</script>
		
		
	</body>

</html>