<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
		<title >我的钱包</title>
		<script src="__STATIC__/js/public/rem.js"></script>
		<!--public-->
		<link rel="stylesheet" href="__STATIC__/css/public/public.css" />
		<link rel="stylesheet" href="__STATIC__/css/public/bottom_nav.css" />
		<!--头部-->
		<link rel="stylesheet" href="__STATIC__/css/public/public_head.css" />
		<link rel="stylesheet" href="__STATIC__/css/my/mywalet.css" />

	</head>
	<body>
		
	<div class="wrap_frame">
			<!--public head-->
			<div class="lb_headWrap lb_headWrap_bacColor topBox_backgroundColor ">
				<p class="lb_headWrap_return" data-num="1" onclick="javascript:location.href='/mobile/user/index'">
					<img class="lb_headWrap_return_img" src="__STATIC__/img/public/return_icon.png"/>
				</p>
				<span>我的钱包</span>
				<!--<p class="lb_headWrap_text">领取产品</p>-->
			</div>

			
       
        <div class="yuqian">
			<style>
				.yuqian div{
					padding:0px 20px;
				}
			</style>
        	<div>
        		<p>余额</p>
        		<p>{$info.money}</p>
			</div>
			<div>
        		<p>积分</p>
        		<p>{$info.integral}</p>
        	</div>
        </div>


       <div class="chongxian">
       	
       	  <span onClick="window.location.href='/mobile/user/top_up'">账户充值</span>
       	  <span onClick="window.location.href='/mobile/user/withdrawal'">申请提现</span>
       	
       </div>
       
       
       <ul class="qianbaolist">
		<li onClick="window.location.href='/mobile/user/bill'">
			<span >账单明细</span>
			<img src="__STATIC__/img/my/youjian@2x.png"/>
		</li>
       	<!-- <li onClick="window.location.href='/mobile/user/billing_detail'">
       		<span >账单明细</span>
       		<img src="__STATIC__/img/my/youjian@2x.png"/>
       	</li>
       	<li onClick="window.location.href='/mobile/user/top_up_detail'">
       		<span >充值明细</span>
       		<img src="__STATIC__/img/my/youjian@2x.png"/></li>
       	<li onClick="window.location.href='/mobile/user/withdrawal_detail'">
       		<span >提现记录</span>
       		<img src="__STATIC__/img/my/youjian@2x.png"/>
       	</li> -->
       	
       </ul>

  



		
	
		
		
		
	</div>	
	   <script src="__STATIC__/js/public/jquery-1.8.3.js"></script>	
	   <script type="text/javascript" src="__STATIC__/js/public/public.js" ></script>
		
	</body>
</html>
