<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
		<title>设置</title>
		<script src="__STATIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__STATIC__/css/public/public.css" />
		<link rel="stylesheet" href="__STATIC__/css/public/public_head.css" />
		<link rel="stylesheet" href="__STATIC__/css/my/set_up_zp.css" />
	</head>
	<style>
		.logout{
			display:block;
			margin: 0 auto;
			width:60%;
			height:35px;
			text-align: center;
			line-height: 35px;
			color:#fff;
			background: #37afe6;
			border-radius:10px
		}
	</style>
	<body>
		<div class="wrap_frame">
			<!-- 头部 -->
			<div class="lb_headWrap" style="background: white;">
				<p class="lb_headWrap_return" data-num="1" onclick="javascript:location.href='/mobile/user/index'">
					<img class="lb_headWrap_return_img" src="__STATIC__/img/public/return_icon.png" />
				</p>
				<span>设置</span>
			</div>
			<!-- 头像 -->
			<div class="avatar">
				<div class="fl"><span>头像</span></div>
				<div class="fr">
					<img class="avatarPic_icon" id="avatarPic" src="{$user.avatar}?t=10086" onerror="this.src='/public/mobile-default-user-icon.png'"  /> 
					<form method="POST" id="hidden-form" action="/mobile/user/set_icon" enctype="multipart/form-data" target="image-ajaxR" style="display:none;">
						<input type="file" accept="image/*" name="icon" id="hidden-icon" />
					</form>
					<iframe style="display:none;" name="image-ajaxR"></iframe>
				</div>
			</div>

			<div class="set-up-list">
				<!--class="drop_own";无样式=>监测点击状态
					data-state="1"; =>未展开；
					data-state="2"; =>展开；
				-->
					
					<div class="item" >
						<div class="item_top drop_own" data-state="1" onclick="dropDownFun(this)">
							<p class="fl"><span>昵称</span></p>
							<p class="fr">
								<span id="nameVal">{$user.nickname}</span>
							</p>
							<img src="__STATIC__/img/my/youjian2@2x.png" />
						</div>
						<!-- public 下拉框 -->
						<div class="drop_down_box">
							<div class="drop_down_inp_box">
								<input type="text" class="drop_down_inp" id="new_nickname" placeholder="请输入新昵称">
							</div>
							<!--按钮-->
							<div class="drop_down_btn_box">
								<p class="drop_down_btn modify_nickname">修改</p>
							</div>
						</div>

					</div>
					<div class="item">
						<div class="item_top drop_own" data-state="1" onclick="dropDownFun(this)">
							<p class="fl"><span>性别</span></p>
							<p class="fr">
								<span id="sexVal" data-sex="{$user.sex}">{$user.sex_name}</span>
							</p>
							<img  src="__STATIC__/img/my/youjian2@2x.png" />
						</div>
						<!-- public 下拉框 -->
						<div class="drop_down_box clearfloat">
							<div class="drop_down_gender_box clearfloat">
								<p class="drop_down_gende_left choice_but {if condition='$user.sex eq 1'}drop_down_gende_active{/if}" data-val="male" data-sex='1'>男</p>
								<p class="drop_down_gende_right choice_but {if condition='$user.sex eq 2'}drop_down_gende_active{/if}"  data-val="female" data-sex='2'>女</p>
								<p class="drop_down_gende_right choice_but {if condition='$user.sex eq 0'}drop_down_gende_active{/if}"  data-val="female" data-sex='0'>保密</p>
							</div>
						</div>
					</div>
					<!-- <div class="item">
						<div class="item_top drop_own" data-state="1" onclick="dropDownFun(this)">
							<p class="fl"><span>手机</span></p>
							<p class="fr">
								<span id="phoneVal">{$user.mobile}</span>
							</p>
							<img src="__STATIC__/img/my/youjian2@2x.png" />
						</div> -->
						<!-- public 下拉框 -->
						<!-- <div class="drop_down_box"> -->
							<!--绑定手机-->
							<!-- <div class="drop_down_bind_wrap">
								<div class="drop_down_bind_box">
									<p class="drop_down_bind_box_titile">{if condition="$user.mobile"}修改{else /}绑定{/if}手机号:</p>
									<input class="drop_down_bind_box_inp" type="number" id="mobile" class="" placeholder="请输入手机号">
								</div>
							</div> -->
							<!--按钮-->
							<!-- <div class="drop_down_btn_box">
								<p class="drop_down_btn binding_but">确定</p>
							</div>
						</div>
					</div> -->
					{if condition="!$user['email']"}
					<div class="item" onclick="javascript:location.href='/mobile/user/edit_email'">
						<div class="item_top">
							<div class="fl"><span>设置邮箱</span></div>
							<div class="fr">
								<img src="__STATIC__/img/my/youjian2@2x.png" />
							</div>
						</div>
					</div>
					{/if}
					{if condition="!$user['openid']"}
					<div class="item" onclick="edit_wxaccount();">
						<div class="item_top">
							<div class="fl"><span>微信绑定</span></div>
							<div class="fr">
								<img src="__STATIC__/img/my/youjian2@2x.png" />
							</div>
						</div>
					</div>
					{/if}
					<div class="item" onclick="javascript:location.href='/mobile/index/edit_password'">
						<div class="item_top">
							<div class="fl"><span>修改密码</span></div>
							<div class="fr">
								<img src="__STATIC__/img/my/youjian2@2x.png" />
							</div>
						</div>
					</div>
					<div class="item" onclick="javascript:location.href='/mobile/index/edit_paypass'">
						<div class="item_top">
							<div class="fl"><span>修改支付密码</span></div>
							<div class="fr">
								<img src="__STATIC__/img/my/youjian2@2x.png" />
							</div>
						</div>
					</div>
			</div>

			<div style="padding-top: 30px;">
				<a class="logout" onclick="logout();">退出登录</a>
			</div>
		</div>
		<script src="__STATIC__/js/public/jquery-1.8.3.js"></script>
		<script src="__STATIC__/js/public/public.js"></script>
        <script type="text/javascript" src="/public/static/public/layer/layer.js"></script>
		<script>
			function edit_wxaccount(){
				
				layer.open({
					title:'敏感操作提示！',
					content:'<p style="text-align:center;">你正在操作微信绑定功能？</p><p style="color:red;font-size:12px;text-align:center;">该功能需要微信浏览器内完成！</p>',
					btn:['下一步','取消'],
					btnAlign:'c',
					yes:function(){
						window.location.href='/mobile/user/edit_wxaccount';
					}
				});
			}

			/* 退出登录 */
			function logout(){
				layer.open({
					title:'提示！',
					content: '<p style="text-align:center;">确定要退出登录么？</p>',
					btn:['确定','取消'],
					btnAlign:'c',
					yes:function(){
						window.location.href = '/mobile/index/logout';
					}
				});
			}


			/*点击-切换下拉框*/
			function dropDownFun(_this){
				/*保存当前-点击状态*/
				var thisState = $(_this).attr('data-state');
				console.log('当前状态:',thisState);
				/*未-展开*/
				for (var i=0;i<$('.drop_down_box').length;i++) {
					if($('.drop_own').eq(i).attr('data-state') == '2'){
						$('.drop_down_box').eq(i).slideUp();
						$('.drop_own').eq(i).attr('data-state','1');
					}
				}
				/*当前*/
				if(thisState == '1'){
					$(_this).siblings('.drop_down_box').slideDown();
					$(_this).attr('data-state','2');
					/*'>' 动画=>顺时针90°*/
					console.log($(_this).find('.item_button_icon'));
					$(_this).find('img').css({
						'transform': 'rotate(90deg)',
					    '-webkit-transform': 'rotate(90deg)',
					    '-moz-transform': 'rotate(90deg)',
					    '-o-transform': 'rotate(90deg)',
					    '-ms-transform': 'rotate(90deg)'
					});
				}else {
					$(_this).siblings('.drop_down_box').slideUp();
					$(_this).attr('data-state','1');
					/*'>' 动画=>逆时针90°*/
					$(_this).find('img').css({
						'transform': 'rotate(-0deg)',
					    '-webkit-transform': 'rotate(-0deg)',
					    '-moz-transform': 'rotate(-0deg)',
					    '-o-transform': 'rotate(-0deg)',
					    '-ms-transform': 'rotate(-0deg)'
					});
				}
				
			}
			/**
			 * 收起-下拉框
			 * _jqThis传参: $(this)
			 * 思路:1、当前元素=>祖父元素=>兄弟元素=>改变data-state状态。
			 * 	   2、当前元素=>祖父元素=>改变滑动收起。
			 * **/
			function retractFun(_jqThis){
				if(_jqThis.parents('.drop_down_box').siblings('.drop_own').attr('data-state','1') == '1'){
					_jqThis.parents('.drop_down_box').slideDown();
					_jqThis.parents('.drop_down_box').siblings('.drop_own').attr('data-state','2');
					_jqThis.parents('.drop_down_box').siblings('.drop_own').find('img').css({
						'transform': 'rotate(90deg)',
					    '-webkit-transform': 'rotate(90deg)',
					    '-moz-transform': 'rotate(90deg)',
					    '-o-transform': 'rotate(90deg)',
					    '-ms-transform': 'rotate(90deg)'
					});
				}else {
					_jqThis.parents('.drop_down_box').slideUp();
					_jqThis.parents('.drop_down_box').siblings('.drop_own').attr('data-state','1');
					/*'>' 动画=>逆时针90°*/
					_jqThis.parents('.drop_down_box').siblings('.drop_own').find('img').css({
						'transform': 'rotate(-0deg)',
					    '-webkit-transform': 'rotate(-0deg)',
					    '-moz-transform': 'rotate(-0deg)',
					    '-o-transform': 'rotate(-0deg)',
					    '-ms-transform': 'rotate(-0deg)'
					});
				}
			}
			/*加载html后=>js*/
			$(document).ready(function(){
				/**
				 * 上传头像
				 * **/
				 
				$("#avatarPic").on('click', function(){
					
					$("#hidden-icon").click();
				 });
				$("#hidden-icon").on('change', function(e){
					
					var file = e.target.files.item(0);
					if (!(/^image\/.*$/i.test(file.type))) {
						layer.msg("请选择图片上传！",{icon:5});
						return false;
					}
					$('#hidden-form').submit();

				});

    			
    			/*修改昵称*/
    			$('.modify_nickname').on('click',function(){
    				var new_nickname = $('#new_nickname').val();
					if(new_nickname){
						go_ajax_post('nickname',new_nickname);
					}
    			});

				function go_ajax_post(t,value){
					$.post('/mobile/user/edit_userInfo',{t:t,value:value},function(res){
						if(res.status == 1){
							window.location.replace(location.href);
						}else{
							layer.msg(res.msg,{icon:5});
						}
					});
				};
				
    			/*选择性别*/
    			$('.drop_down_gender_box .choice_but').on('click',function(){
    				$(this).addClass('drop_down_gende_active').siblings().removeClass('drop_down_gende_active');

					var default_sex = $('#sexVal').data('sex');
					var sex = $(this).data('sex');
					if(sex != default_sex){
						go_ajax_post('sex',sex);
					}
    			});

    			/*绑定手机号*/
    			$('.binding_but').on('click',function(){
					
					var mobile = $('#mobile').val();
					if(!(/^1[34578]\d{9}$/.test(mobile))){
						layer.msg('手机号格式错误！',{icon:5});
						return false;
					}
					go_ajax_post('mobile',mobile);
    			})
    			
    			/*绑定手机号 input*/
    			$('.drop_down_bind_box_inp').focus(function(){
    				$(window).scrollTop($('.drop_down_bind_box_inp').offset().top/2,300);
    			})

			})
		</script>
		

	</body>

</html>