.webcontent{
    margin-left: 8%;
    width:2000px;
    height:600px;
}

.nav{
    background-color:#f0f0f0;
}

.webviwe{
    height:600px;
    width:350px;
    border:1px solid #d7d7d7;
    background-color:#fff;
    float:left;
}
.webviwe .head{
    width: 100%;
}
.webviwe .bottom{
    position:relative;
    top:465px;
    width:101%;
    height:60px;
    line-height: 60px;
}

.add_menu_ico{
    width:25px;
}

.web_defalut_menu{
    display:block;
    height:60px;
    width:100%;
    margin-left:1.3px;
}
.web_defalut_menu li{
    float:left;
    height:60px;
    width:113px;;
    margin:0 0.5px;
}

.menu{
    color:#716767;
    text-align:center;
    background-color: #ece9e9;
    border:1px solid #d7d7d7;
    cursor:pointer;
}
.menu:hover{
    color:#000;
}
.selected_menu{
    border:1px solid green !important;
    color:green;
}

/* -- 二级菜单 --*/
.web_two_menu{
    display:block;
    width:346px;
    padding:1px;
    z-index:999;
    position:relative;
    bottom: -198px;
}
.two_menu{
    display:inline-block;
    width:32.5%
}
.two_menu li{
    height:50px;
    width:100%;
    float:left;
    line-height: 50px;
    text-align:center;
}
.two_menu_sub{
    display:block;
}
.add_two_menu{
    display:none;
    background-color: #fbfbfb;
    border:1px solid #d7d7d7;
    font-size:24px;
    color:#d7d7d7;
}











/* 菜单设置 */
.confviwe{
    height:600px;
    width:850px;
    border:1px solid #d7d7d7;
    margin-left: 2%;
    background-color:#fff;
    float:left;
}

.confviwe .conf_title{
    height:40px;
    line-height: 40px;
    padding:5px 10px;
    background-color:#f0f0f0;
}

.conf_title_delmenu
{
    display:inline-block;
    float:right;
    color:blue;
}

.conf_url_content{
    margin:20px 0 20px 40px;
    padding:20px 10px;
    width: 600px;
    height: 170px;
    background-color: #f0f0f0;
}

.conf_url_title{
    padding-left:10px;
    border-bottom: 1px solid #fff;
    color:#a58282;
}

.conf_source_content{
    display:none;
    margin:20px 0 20px 40px;
    padding:20px 10px;
    width: 600px;
    height: 170px;
    background-color: #f0f0f0;
}
.conf_source_title{
    padding-left:10px;
    border-bottom: 1px solid #fff;
    color:#a58282;
}
.conf_sourc_mincontent{
    width:100%;
    height:130px;
    background-color:#fff;
}
.conf_btn{
    margin:10% 0 0 30%;
}
