{include file="layout/head"}
<style>
    #article-image a{
        display:block;
        width: 150px;
        height: 150px;
        float:left;
        margin-right: 5px;
    }
    #article-image a img{
        display:block;
        width:100%;
        height:100%;
    }
    .del-up-image{
        position:relative;
        left:90%;
        top:-100%;
    }


</style>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" target="ajaxR-from">

        <input type="hidden" id="article_id" name="article_id" value='{if condition="isset($info)"}{$info.id}{else /}0{/if}' >
        <input type="hidden" id="category_id" name="category_id" value='{if condition="isset($info)"}{$info.cate_id}{else /}0{/if}' >

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" {if condition="isset($info)"}value="{$info.title}"{/if} placeholder="文章标题：" id="" name="title">
			</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>描述</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" {if condition="isset($info)"}value="{$info.desc}"{/if} placeholder="文章描述" id="" name="desc">
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
                <a ref="javascript:;" style="color:blue" id="article_category" onclick="select_article_category()">
                    {if condition="isset($info)"}
                        {$info.catename}
                    {else /}
                        请选择分类
                    {/if}
                </a>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章展示图：</label>
            <div class="formControls col-xs-8 col-sm-9" id="article-image">
                {if condition="isset($info)"}
                        <a>
                            <img class="ex-image" src="{$image_path}{$info.image}" />
                            <input type="hidden" name="images" value="{$info.image}">
                            <i class="Hui-iconfont del-up-image" onclick="del_up_image(this)">&#xe6e2;</i>
                        </a>
                {else /}
                    <a onclick="upload_image();" id="add-article-image">
                        <img src="/public/default_upload_images_add.jpg" alt="上传图片" />
                    </a>
                {/if}
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">作者：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="author" id="" placeholder="文章作者" {if condition="isset($info)"} value="{$info.author}" {/if} class="input-text" style="width:90%">
				</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">来源：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="source" id="" placeholder="文章来源" {if condition="isset($info)"} value="{$info.source}" {/if} class="input-text" style="width:90%">
                </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="sort" id="" placeholder="文章排序值" {if condition="isset($info)"} value="{$info.sort}" {/if} class="input-text" style="width:90%">
                </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box"> 
                    <input type="radio" id="is_lock-1" value="0" name="is_lock" {if condition="(isset($info) && $info.is_lock eq 0) or !isset($info)"}checked{/if} >
                    <label for="is_lock-1">正常</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="is_lock-2" value="1" name="is_lock" {if condition="isset($info) && $info.is_lock eq 1"}checked{/if}>
                    <label for="is_lock-2">锁定</label>
                </div>
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">详细内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor" type="text/plain" style="width:100%;height:400px;">{if condition="isset($info)"}{$info.details}{/if}</script> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
<form id="hide-form" style="display:none;" target="ajaxR" enctype="multipart/form-data" method="POST" action="/admin/system/upload_images">
    <input id="hide-form-file" type="file" name="image" value="" >
    <input id="hide-form-file" type="text" name="module" value="article" >
</form>
<iframe name="ajaxR" style="display:none;"></iframe>
<iframe name="ajaxR-from" style="display:none;"></iframe>
{include file="layout/footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/__STATIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/__STATIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/__STATIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    function error(msg){
        layer.msg(msg,{icon:5});
    }
    function ajax_from_callback(status,msg){
        if(status == 1){
            layer.msg(msg,{icon:6});
            setTimeout(function(){
                parent.open_closeAll();
            },1000);
        }else{
            error(msg);
        }
    }

    function del_up_image(obj){
        layer.confirm('确认要删除图片么？', {icon: 3, title:'提示'}, function(index){
            $(obj).parent('a').remove();
            if($("#article-image #add-article-image").length == 0) {
                //元素不存在时执行的代码
                var _html = ''+
                    '<a onclick="upload_image();" id="add-article-image">'+
                        '<img src="/public/default_upload_images_add.jpg" alt="上传图片" />'+
                    '</a>';
                $('#article-image').append(_html);
            }
            layer.close(index);
        });
    }

    function upload_image(){
        var size = $('#article-image > a').size();
        if(size > 1){
            layer.msg('最多只能有一张文章展示图片');
            return false;
        }
        $('#hide-form-file').click();
    }

    function iframe_images_callback(status,src='',image=''){
        if(status == 1){
            var _html = ''+
                '<a>'+
                    '<img class="ex-image" src="'+src+'" />'+
                    '<input type="hidden" name="image" value="'+image+'">'+
                    '<i class="Hui-iconfont del-up-image" onclick="del_up_image(this)">&#xe6e2;</i>'+
                '</a>';
            $('#add-article-image').before(_html);

            $('#add-article-image').remove();
            
        }else{
            layer.msg('图片上传失败！');
        }
    }

    function show_msg(msg){
        layer.msg(msg);
    }

    function select_article_category(){
        layer.open({
            title:'选择文章分类',
            type:2,
            content:'/admin/system/open_category_select?type=article',
            area:['600','200'],
        });
    }

    function open_callback(name,id){
        $('#article_category').html(name);
        $('#category_id').val(id);
    }

    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        // 文章详情
        var ue = UE.getEditor('editor');


        $('#hide-form-file').change(function(){
            $('#hide-form').submit();
        });
    });
</script>
</body>
</html>