{include file="layout/head"/}

<title>编辑用户</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<input type="hidden" name="act" value="{$act}">
		<input type="hidden" name="id" value="{$info.id}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.nickname}" placeholder="" id="nickname" name="nickname">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.mobile}" placeholder="" id="mobile" name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.email}" placeholder="@" name="email" id="email">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所在分组：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select class="select" size="1" name="group_id">
						{foreach name="group" item="vo"}
							{if condition="$info.group_id == $vo.id"}
								<option value="{$vo.id}" selected>{$vo.name} </option>
							{else/}
								<option value="{$vo.id}">{$vo.name}</option>
							{/if}
						{/foreach}
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">余额：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.money}" placeholder="¥" name="money" id="money">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">是否为分销商：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input type="radio" name="is_distribut" id="is_distribut-1" value="1">
					<label for="is_distribut-1">是</label>
				</div>
				<div class="radio-box">
					<input type="radio" name="is_distribut" id="is_distribut-2" value="0">
					<label for="is_distribut-2">否</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input type="radio" name="status" id="status-1" value="1">
					<label for="status-1">启用</label>
				</div>
				<div class="radio-box">
					<input type="radio" name="status" id="status-2" value="0">
					<label for="status-2">停用</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="layout/footer"/}

<script type="text/javascript" src="/__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	var is_distribut = "{$info.is_distributor}";
	var status = "{$info.status}";
	
	if (is_distribut == 1) {
		$('#is_distribut-1').attr('checked',true);
	} else {
		$('#is_distribut-2').attr('checked',true);
	}

	if (status == 1) {
		$('#status-1').attr('checked',true);
	} else {
		$('#status-2').attr('checked',true);
	}
	
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			nickname:{
				required:true,
				minlength:2,
				maxlength:16
			},
			mobile:{
				required:true,
				isMobile:true,
			},
			email:{
				required:true,
				email:true,
			},
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			// $(form).ajaxSubmit();
			
			$.ajax({
				type: "post",
				url: "{:url('admin/member/handle')}",
				data: $(form).serialize(),
				
				success:function(data){
					if (data.code == 1) {
						layer.msg(data.msg, {icon: 1, time: 1000},function(){
							parent.location.reload();
						});
					} else {
						layer.msg(data.msg, {icon: 2, time: 1000});
					}
				},
				error: function(){
					layer.alert("服务器繁忙, 请联系管理员!");
				}
			});
			
			// var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			// parent.layer.close(index);
			
		}
	});

});
</script> 
</body>
</html>