{include file="layout/head"}
<title>用户详情</title>
</head>

<body>
	<div class="cl pd-20" style=" background-color:#5bacb6">
		<img class="avatar size-XL l" src="">
		<dl style="margin-left:80px; color:#fff">
			<dt>
				<span class="f-18">{$info.nickname}</span>
				<span class="pl-10 f-14">ID：{$info.id}</span>
			</dt>
			<dd class="pt-10 f-12" style="margin-left:0">这家伙很懒，什么也没有留下</dd>
		</dl>
	</div>
	<div class="pd-20">
		<table class="table">
			<tbody>
				<tr>
					<th class="text-r">手机：</th>
					<td>{$info.mobile}</td>
				</tr>
				<!-- <tr>
					<th class="text-r">手机验证：</th>
					<td>{ eq name="$info.mobile_verification" value="1"} <span style="color:blue;">已验证</span> { else/} 未验证
						{/eq}</td>
				</tr> -->
				<tr>
					<th class="text-r">邮箱：</th>
					<td>{$info.email}</td>
				</tr>
				<!-- <tr>
					<th class="text-r">邮箱验证：</th>
					<td>{ eq name="$info.email_verification" value="1"}<span style="color:blue;">已验证</span> { else/}
						未验证{/eq}</td>
				</tr> -->
				<tr>
					<th class="text-r">余额：</th>
					<td>{$info.money}</td>
				</tr>
				<tr>
					<th class="text-r">积分：</th>
					<td>{$info.integral}</td>
				</tr>
				<tr>
					<th class="text-r">冻结金额：</th>
					<td>{$info.freezing_amount}</td>
				</tr>
				<tr>
					<th class="text-r">分组：</th>
					<td>{$info.group_id|group_name}</td>
				</tr>
				
				<!-- <tr>
					<th class="text-r">分销等级：</th>
					<td>{ $info.distributor_level}</td>
				</tr> -->
				<tr>
					<th class="text-r">上级：</th>
					<td>{$info.id|first_leader}</td>
				</tr>
				<tr>
					<th class="text-r">状态：</th>
					<td>{eq name="$info.status" value="1"} <span style="color:blue;">正常</span> {else/} 黑名单 {/eq}</td>
				</tr>
				<tr>
					<th class="text-r">注册方式：</th>
					<td>{if condition="$info.register_method == 'mobile'"} 手机注册 {elseif condition="$info.register_method == 'weixin'"/} 微信注册 {else/} 未知 {/if}</td>
				</tr>
				<tr>
					<th class="text-r">注册时间：</th>
					<td>{$info.register_time|date="Y-m-d H:i:s",###}</td>
				</tr>
				<tr>
					<th class="text-r">最后一次登录时间：</th>
					<td>{$info.login_time|date="Y-m-d H:i:s",###}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{include file="layout/footer"}

	<script type="text/javascript">
		var is_avatar = "{$is_avatar}"
		if (is_avatar == 1) {
			$(".avatar").attr('src',"{info.avatar}");
		} else {
			$(".avatar").attr('src',"/__STATIC__/h-ui/images/ucnter/avatar-default.jpg");
		}
	</script>
</body>

</html>