<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
		<title class="pageTopTitle" page-id="0">首页</title>
		<script src="__STATIC__/js/public/rem.js"></script>
		<link rel="stylesheet" href="__STATIC__/css/public/public.css">
		<link rel="stylesheet" href="__STATIC__/css/public/swiper.css">
		<link rel="stylesheet" href="__STATIC__/css/public/bottom_nav.css" />
		<link rel="stylesheet" href="__STATIC__/css/home/index.css">
		<link rel="stylesheet" href="__STATIC__/css/public/bottom_nav.css" />

	</head>

	<body>
		<div class="wrap_frame" style="padding-top: 0">
			<!--包裹index的div-->
			<div class="wrap_index">

				<!-- 搜索 -->
				<div class="search">
					<p style="text-align: center;heigit:0.88rem;line-height: 0.88rem;color:#fff;font-size: 16px;">首页</p>
					<!-- <form action="#">
						<input class="search-input" type="text">
						<button class="search-btn">搜索</button>
						<span class="search-tip">搜索</span>
					</form> -->
				</div>
				<!-- 轮播图 -->
				<div class="swiper-container banner-wrap-zp">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="__STATIC__/img/home/tupian@2x.png" />
						</div>
						<div class="swiper-slide">
							<img src="__STATIC__/img/home/tupian@2x.png" />
						</div>
						<div class="swiper-slide">
							<img src="__STATIC__/img/home/tupian@2x.png" />
						</div>
					</div>
					<!-- <div class="swiper-pagination"></div> -->
				</div>

				<!-- 菜单导航 -->
				<div class="nav-wrap-zp">
					<ul>
						<li class="navItem">
							<a href="/mobile/index/research">
								<span><img src="__STATIC__/img/home/yanjiusuo@2x.png"></span>
								<span>研究所</span>
							</a>
						</li>
						<li class="navItem">
							<a href="/mobile/user/my_gene">
								<span><img src="__STATIC__/img/home/jiyin@2x.png"></span>
								<span>基因关系</span>
							</a>
						</li>
						<li class="navItem">
							<a href="/mobile/article/micro">
								<span><img src="__STATIC__/img/home/shu@2x.png" ></span>
								<span>微解读</span>
							</a>
						</li>
						<li class="navItem">
							<a href="/mobile/article/skin">
								<span><img src="__STATIC__/img/home/pifu@2x.png" alt=""></span>
								<span>皮肤管理</span>
							</a>
						</li>
					</ul>
				</div>

				<!-- 基因查询 -->
				<div class="gene-query">
					<a href="/mobile/user/my_gene">
						<img src="__STATIC__/img/home/anniu@2x.png">
					</a>
				</div>

				{if condition="isset($recom_goods) && $recom_goods"}
				<div class="recommend-wrap">
					<div class="title">
						<h3>推荐商品</h3>
						<a href="/mobile/goods/goodsList"><span class="more">更多</span></a>
					</div>
					<div class="recommend-list">
						<ul>
							{volist name="recom_goods" id="vo"}
							<li class="listItem">
								<div class="img-wrap">
									<img src="__GOODSIMG__{$vo.thumb}" />
								</div>
								<div class="text">
									<h3><a href="#">{$vo.name}</a></h3>
									<p class="dec">{$vo.desc}</p>
									<div class="buy">
										<span class="price">¥{$vo.price}</span>
										<a href="/mobile/goods/goodinfo?id={$vo.id}" class="butBtn">立即购买</a>
									</div>
								</div>
							</li>
							{/volist}
						</ul>
					</div>
				</div>
				{/if}
				{if condition="isset($article)"}
					<div class="nscramble-wrap">
						<div class="title">
							<h3>微解读</h3>
							<a href="#"><span class="more">查看全部{$article_count}项</span></a>
						</div>
						{if condition="isset($article.recom) && $article.recom"}
						<div class="nscramble-list">
						{volist name="article.recom" id="vo"}
							<li class="nscrambleItem" style="overflow: hidden; width:2.2rem;height:1.6rem;">
								<a href="/mobile/article/details?id={$vo.id}"> 
									<img style="width:2.2rem;height: 1.6rem;" src="__IMAGES__article/{$vo.thumb}" />
									<span class="mask"></span>
								</a>
							</li>
						{/volist}
						</div>
						{/if} 
					</div>
					
					{if condition="isset($article.list) && $article.list"}
						{volist name="$article.list" id="vo"}
							<div class="question-wrap">
								<h2>{$vo.name}</h2>
								<ul class="question-list">
									{volist name="vo.list" id="vl"}
										<li>
											<div class="text">
												<h3><a href="/mobile/article/details?id={$vl.id}">{$vl.title}</a></h3>
												<p>{$vl.desc}</p>
											</div>
											<div class="img-wrap">
												<img src="__IMAGES__article/{$vl.thumb}" />
											</div>
										</li>
									{/volist}
								</ul>
							</div>
						{/volist}
					{/if}

				{/if}
			</div>
			<!-- 底部导航 -->
			<div class="bottomNavWrap container" id="bottomNavWrap" data-id="0"></div>

		</div>
		<script src="__STATIC__/js/public/jquery-1.8.3.js"></script>
		<!--公共底部导航栏-->
		<script src="__STATIC__/js/public/bottom_nav.js"></script>
		<script src="__STATIC__/js/public/swiper.js"></script>
		<script>
			window.onload = function() {
				// 首页轮播图
				var swiper = new Swiper('.banner-wrap-zp', {
					loop: true,
					pagination: '.swiper-pagination',
					paginationClickable: true,
					spaceBetween: 30,
					autoplay: 3000,
					autoplayDisableOnInteraction: false
				});

				// 搜索框
				$(".search-input").focus(function() {
					$(".search-tip").hide();
				}).blur(function() {
					var val = $(this).val();
					if(val != "") {
						$(".search-tip").hide();
					} else {
						$(".search-tip").show();
					}
				})

			}
		</script>
	</body>

</html>